{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="bodymain-containerland aboutus-container">
        <div class="aboutus">
            <div class="aboutUs_topImage">
                <img alt="طلاسی، پلتفرم خرید و فروش آنلاین طلا خام و بدون اجرت" loading="lazy" width="1050" height="322" decoding="async" data-nimg="1" class="aboutUs_mainImg" src="{% static "img/main.webp" %}" style="color: transparent;">
            </div>
            <ul class="aboutUs_breadCrumb">
                <li><a href="/">طلاسی: خرید و فروش طلا</a>
                </li>
                <img alt="فلش چپ" loading="lazy" width="9" height="12" decoding="async" data-nimg="1" src="{% static "img/arrowLeft.svg" %}" style="color: transparent;">
                <li>
                    <a href="/about-us">درباره ما</a>
                </li>
            </ul>
            <h1 class="page-title aboutUs_title">طلاسی، پلتفرم خرید و فروش آنلاین طلا خام و بدون اجرت</h1>
            <p class="page-description aboutUs_topDescription">اگر قصد شما از خرید طلا، سرمایه گذاری می‌باشد، طلاسی بهترین بستر را برای شما در این زمینه فراهم‌ می‌کند؛ تا بدون نیاز به پرداخت اجرت و کارمزد بالا، دارایی خود را به طلا تبدیل کنید. </p>
            <p class="page-description aboutUs_topDescription">سایت طلاسی، بستری برای خرید و فروش آنلاین و راحت طلای خام و بدون اجرت است؛ که آسان‌ترین و امن‌ترین راه را برای حفظ ارزش سرمایه شما ارائه‌ می‌کند. با بهره مندی از امکانات طلاسی، نیازی به مراجعه و حضور فیزیکی برای خرید طلا نیست. در واقع ضمن راحت کردن فرآیند <a href="/">خرید و فروش طلا</a>، امنیت را نیز برای شما به ارمغان می‌اورد.</p>
            <p class="page-description aboutUs_topDescription">شما با خرید از طلاسی، مجبور به پرداخت هزینه جداگانه تحت عنوان اجرت ساخت طلای زینتی نخواهید بود و با بالاترین بازدهی می‌توانید کل سرمایه خود را به صورت کاملاً به صرفه به طلا تبدیل کنید. با اینکار ضمن حفظ ارزش سرمایه، دغدغه‌ای برای تامین امنیت و نگهداری آن نخواهید داشت.</p>
            <p class="page-description aboutUs_topDescription">شما می‌توانید دارایی طلای خود را بفروشید و یا درخواست تحویل فیزیکی آن را ثبت کنید. در صورتی که تمایل به دریافت طلای خود به صورت فیزیکی داشته باشید، می‌توانید از گزینه‌های موجود در تحویل طلا، نوع طلای تحویلی را انتخاب کرده و با پرداخت اجرت ساخت، طلای خود را تحویل بگیرید.</p>
            <p class="page-description aboutUs_topDescription">طلاسی، نقدشوندگی سریع دارایی شما را نیز تضمین خواهد کرد، به نحوی که شما می‌توانید در هر زمانی که تمایل داشتید طلای خود را در سایت طلاسی بفروشید و وجه آن را در سریع‌ترین زمان ممکن در حساب بانکی خود دریافت کنید.</p>
            <p class="page-description aboutUs_topDescription">از دیگر خدمات طلاسی، کارت هدیه طلا می‌باشد؛ شما می‌توانید برای مناسبت‌های مختلف، به هر میزان و به وزن دلخواه به عزیزان خود طلا هدیه دهید. کارت‌های هدیه طلاسی در بسته بندی بسیار شیک عرضه می‌شود.</p>
            <section class="mid-banner bannerus">
                <div class="midbanner-back">
                    <div class="midbanner-container row">
                        <div class="midbanner-img col-12 col-sm-6">
                            <img src="{% static "img/middleBanner.webp" %}" alt="">
                        </div>
                        <div class="midbanner-char char2 col-12 col-sm-6">
                            <h2 class="mid-banner-h2">امن ترین جا برای پس انداز طلا</h2>
                            <button class="mid-banner-btn btn"><span>ثبت نام در طلاسی</span><img src="{% static "img/arrow-left.svg" %}" alt=""></button>
                        </div>
                    </div>
                </div>
            </section>
            <div class="main_why">
                <h2 class="page-title main_secondTitle5">چرا طلاسی ؟</h2>
                <ul class="main_itemsfl">
                    <li class="main_item8">
                        <h3>سرمایه گذاری به صرفه:</h3>
                        <p>در طلاسی هزینه جداگانه به عنوان اجرت ساخت طلای زینتی پرداخت نخواهید کرد، و به اندازه همان مبلغ، طلای خام به شما تعلق خواهد گرفت.</p>
                    </li><li class="main_item8">
                        <h3>خرید و فروش طلا با هر میزان سرمایه:</h3>
                        <p>شما با هر میزان سرمایه می‌توانید در طلاسی اقدام به خرید طلا کنید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>امکان پس انداز طلا:</h3>
                        <p>با خرید اندک اندک طلا، می‌توانید پس انداز طلا داشته باشید و ارزش دارایی خودتان را حفظ کنید.</p>                    </li>
                    <li class="main_item8">
                        <h3>امنیت سپرده گذاری طلا:</h3>
                        <p>دارایی طلای شما به صورت کاملاً امن و بیمه شده نگهداری خواهد شد و نگرانی از این بابت نخواهید داشت.</p>
                    </li>
                    <li class="main_item8">
                        <h3>خرید و فروش آنلاین و نقد شوندگی سریع دارایی طلای شما:</h3>
                        <p>برای خرید و فروش طلا نیازی به مراجعه حضوری به بازار طلا ندارید و در هر زمانی به صورت آنلاین می‌توانید معامله کنید.</p>                    </li>
                    <li class="main_item8">
                        <h3>کارت هدیه لوکس طلا:</h3>
                        <p>با کارت هدیه طلاسی، می‌توانید برای هر مناسبتی یک کارت هدیه طلای بسیار لوکس به وزن دلخواه به عزیزان خود هدیه دهید.</p>                    </li>
                    <li class="main_item8">
                        <h3>تحویل فیزیکی طلا:</h3>     
                        <p>به راحتی می‌توانید دارایی طلای خود رو به صورت فیزیکی تحویل بگیرید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>رابطه کاربری ساده و خرید و فروش آسان:</h3>
                        <p>با استفاده از رابطه کاربری ساده و زیبای طلاسی، مشکلی در استقاده از خدمات سایت نخواهید داشت.</p>                        </li>
                    <li class="main_item8">
                        <h3>کارمزد پایین معاملات:</h3>
                        <p>از مزیت های طلاسی کارمزد پایین معاملات آن است، شما برای هر خرید و فروش نیازی به پرداخت کارمزد بالایی ندارید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>امکان معامله 24 ساعته در 7 روز هفته:</h3>
                        <p>در هر لحظه از شبانه روز و به صورت ۲۴ ساعته در ۷ روز هفته، شما می‌توانید معاملات آنلاین خود را بر بستر طلاسی انجام دهید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>اطمینان از خرید:</h3>
                        <p>در طلاسی نگرانی از بابت اصل بودن یا نبودن طلای خریداری شده نخواهید داشت.</p>
                    </li>
                </ul>
                <div class="main-collapse">
                    <h2 class="page-title main_secondTitle5 babaya">سوالات متداول</h2>
                    <ul class="main_itemsfl" id="accordion">
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#one">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>چرا باید طلای آب شده را از طلاسی خریداری کنیم؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="one" >
                                <p>طلاسی به عنوان بهترین و معتبرترین سایت خرید و فروش طلای آب شده بدون اجرت، مزایای فراوانی مانند امنیت و تضمین اصالت طلا، نقدشوندگی بالا، تحویل فیزیکی آسان، فرایند سریع و ساده، و پشتیبانی 24 ساعته ارائه می‌دهد. همچنین، طلاسی ابزارهای پیش‌بینی قیمت با فناوری‌های نوین و نمودارهای قیمتی دقیق را برای کمک به شما در تصمیم‌گیری‌های سرمایه‌گذاری فراهم کرده است.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#two">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>چگونه می‌توانم از طلاسی طلای آب شده بخرم؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="two">
                                <p>برای خرید طلای آب شده از طلاسی، ابتدا در سایت ثبت‌نام کنید و سپس به صفحه خرید طلای آب شده بروید. می‌توانید میزان طلای مورد نظر خود را انتخاب کرده و پس از تأیید، فرآیند پرداخت را تکمیل کنید. طلاسی امکان ثبت سفارش با قیمت مشخص را نیز فراهم کرده است.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#three">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>آیا می‌توانم طلای آب شده خود را به صورت فیزیکی دریافت کنم؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="three">
                                <p>بله، شما می‌توانید در هر زمانی که بخواهید، طلای خریداری شده خود را به صورت فیزیکی در قالب شمش ۱۸ یا ۲۴ عیارشناسنامه‌دار تحویل بگیرید. طلاسی اصالت و کیفیت طلای تحویل داده شده خود را تضمین می‌دهد.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#four">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>چه تضمینی برای اصالت طلای خریداری شده از طلاسی وجود دارد؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="four">
                                <p>تمامی شمش‌های طلای خریداری شده از طلاسی دارای شناسنامه معتبر و پک‌هایی با ضریب امنیتی بالا می‌باشند. طلاسی با استفاده از آزمایشگاه‌های معتبر، اصالت و کیفیت طلا را تضمین می‌کند و شما می‌توانید با اطمینان کامل از خرید خود لذت ببرید.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#five">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>آیا می‌توانم طلای آب شده خود را در هر زمانی بفروشم؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="five">
                                <p>بله، شما می‌توانید در هر لحظه از شبانه‌روز، طلای آب شده خود را در طلاسی بفروشید. فرآیند فروش سریع و ساده است و شما می‌توانید به راحتی دارایی طلای خود را به وجه نقد تبدیل کنید.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#six">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>آیا خرید طلا از طلاسی شامل مالیات می‌شود؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="six">
                                <p>خیر، خرید طلا در طلاسی هیچ‌گونه مالیاتی ندارد و شما بدون پرداخت هزینه‌های اضافی مانند اجرت و مالیات، طلا خریداری می‌کنید.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#seven">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>چگونه می‌توانم قیمت‌های لحظه‌ای طلا را در طلاسی مشاهده کنم؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="seven">
                                <p>شما می‌توانید با مراجعه به سایت طلاسی، نمودارهای لحظه‌ای قیمت طلا را مشاهده کنید. طلاسی نمودارهای دقیقی  برای پیش‌بینی نوسانات قیمت لحظه‌ای طلا را فراهم کرده است.</p>
                            </div>
                            <div class="border"></div>
                        </li>
                        <li class="main_item10">
                            <div class="main_topItem">
                                <a class="mamamiya" data-bs-toggle="collapse" href="#eight">
                                    <div class="main_plusContainer">
                                        <div></div>
                                        <div class="main_second"></div>
                                    </div>
                                    <h2>آیا طلاسی خدمات پشتیبانی ارائه می‌دهد؟</h2>
                                </a>
                            </div>
                            <div class="main_bottomItem collapse " id="eight">
                                <p>بله، تیم پشتیبانی طلاسی در تمامی روزهای هفته به صورت 24 ساعته و به صورت آنی آماده پاسخگویی به سوالات و مشکلات شما است. شما می‌توانید از طریق تماس تلفنی و چت آنلاین با ما در ارتباط باشید.</p>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    </div>
{% endblock content %}