{% extends "base_blog.html" %}
{% block content %}
{% load static %}
  <style>
    .star-rating::before {
      width:{{rating}}%; 
    }
  </style>
    <div class="wp-page-container">
      <div class="wp-page-content">
        <div class="blog_pagebody">
          <article class="blog-mainData">
            <div class="blog_elementView__8j4LW">
              <ul class="blog_breadCrumb__mieF5">
                <li><a href="/">طلاسی: خرید و فروش طلا</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><a href="{% url "blogs" %}">مجله طلاسی</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><a href="{% url sub %}">{{context.subject}}</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><span>{{context.title}}</span></li>
              </ul>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_textContainer__w1ztU">
                    <h1>{{context.title}}</h1>
                  </div>
                </div>
              </div>
              <div class="blog_moreData__QUjo5">
                <ul class="moreItem_moreData__LR8RV">
                  <div class="moreItem_moreDataContent__dF8j_">
                    <a class="moreItem_moreDataItem__pSgI3" href="/mag/@ida"
                      ><span>توسط</span
                      ><span class="moreItem_author__3kfgN">{{context.author.name}}</span></a
                    >
                  </div>
                  <div class="moreItem_moreDataContent__dF8j_">
                    <li class="moreItem_moreDataItem__pSgI3">
                      <img
                        alt="تاریخ انتشار مقاله"
                        loading="lazy"
                        width="11"
                        height="11"
                        decoding="async"
                        data-nimg="1"
                        src="{% static "img/calender.svg" %}"
                        style="color: transparent"
                      /><span>{{context.day}} {{context.month}} {{context.year}}</span>
                    </li>
                  </div>
                  <div class="moreItem_moreDataContent__dF8j_">
                    <li class="moreItem_moreDataItem__pSgI3">
                      <img
                        alt="تاریخ انتشار مقاله"
                        loading="lazy"
                        width="11"
                        height="11"
                        decoding="async"
                        data-nimg="1"
                        src="{% static "img/calender.svg" %}"
                        style="color: transparent"
                      /><span>{{context.view_count}} بازدید</span>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_imgContainer__BiBFG">
                    <img
                      alt="{{context.title}}"
                      loading="lazy"
                      width="946"
                      height="560"
                      decoding="async"
                      data-nimg="1"
                      class="blog_mainImg__fhLaU"
                      src="{{context.blog_image.url}}"
                      style="color: transparent"
                    />
                  </div>
                </div>
              </div>
              <div class="blog_rating__dvMme">
                <div class="container-star">
                  <div class="rate">
                    <input
                      type="radio"
                      id="star5"
                      name="rate"
                      value="5"
                      onclick="sendValue('5')"
                    />
                    <label for="star5" title="text">5 stars</label>
                    <input
                      type="radio"
                      id="star4"
                      name="rate"
                      value="4"
                      onclick="sendValue('4')"
                    />
                    <label for="star4" title="text">4 stars</label>
                    <input
                      type="radio"
                      id="star3"
                      name="rate"
                      value="3"
                      onclick="sendValue('3')"
                    />
                    <label for="star3" title="text">3 stars</label>
                    <input
                      type="radio"
                      id="star2"
                      name="rate"
                      value="2"
                      onclick="sendValue('2')"
                    />
                    <label for="star2" title="text">2 stars</label>
                    <input
                      type="radio"
                      id="star1"
                      name="rate"
                      value="1"
                      onclick="sendValue('1')"
                    />
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <div class="star-rating"></div>
                </div>
                <div class="blog_texts__xwi2r">
                  <span>{{rating2}} - ({{count_rating}}امتیاز)</span>
                </div>
              </div>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_textContainer__w1ztU">
                    {{ context.text|safe }}
                  </div>
                </div>
              </div>
              <div class="blog_profileContainer__RPcCD">
                <div class="blog_profileImg__SI_2X">
                  <img
                    alt="{{context.author.discription}}"
                    loading="lazy"
                    width="85"
                    height="85"
                    decoding="async"
                    data-nimg="1"
                    class="blog_mainImg__fhLaU"
                    src="{{context.author.author_img.url}}"
                    style="color: transparent"
                  />
                </div>
                <div class="blog_profileDetail__rMeKy">
                  <a class="blog_profileName__OYf6f" href="/mag/@ida"
                    >{{context.author.name}}</a
                  ><span>تولید محتوا</span>
                  <p>{{context.author.discription}}</p>
                  <div class="blog_profileMedia__lNVy_"></div>
                </div>
              </div>
              {% if related %}
              <div class="blog_relatedData__VSSTu">
                <h2>نوشته های مرتبط</h2>
                <div class="blog_relatedBody__5RKET">
                  {% for related in related %}
                  <a
                    class="blog_relatedItem__0oEsy"
                    href="{% url "blog" related.blogid %}"
                    ><img
                      alt="{{related.title}}"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      src="{{related.blog_image.url}}"
                      style="color: transparent"
                    />
                    <h3>{{related.title}}</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>{{related.day}} {{related.month}} {{related.year}}</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>{{related.view_count}}</span>
                        </li>
                      </div>
                    </ul></a
                  >
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              <form method="POST">
                {% csrf_token %}
                <div class="blog_comment__y9sjM">
                  <h3>دیدگاه شما</h3>
                  <div class="blog_commentBox__Brqe6">
                    <div class="blog_topBox__LRCwh">
                      <div class="blog_commentImg__JJLrP">
                        <img
                          alt="دیدگاه کاربر نسبت به مقاله"
                          loading="lazy"
                          width="40"
                          height="40"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/comment.webp" %}"
                          style="color: transparent"
                        />
                      </div>
                      <div class="blog_commentName__jAV7q">
                        {{ form.username }}
                      </div>
                      <div class="blog_commentEmail__6NU32">
                        {{ form.email }}
                      </div>
                    </div>
                    <div class="blog_boxBody__egn2_">
                      {{ form.review_text }}
                    </div>
                    <div class="blog_boxButton__7FxdH">
                      <div class="button-container" id="">
                        <div class="dots-container">
                          <div style="background-color: rgb(107, 112, 116)"></div>
                          <div style="background-color: rgb(107, 112, 116)"></div>
                          <div style="background-color: rgb(107, 112, 116)"></div>
                          <div style="background-color: rgb(107, 112, 116)"></div>
                        </div>
                        <button type="submit" class="buttonData" >ارسال دیدگاه</button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
              <div class="blog_allComments__AL2CC">
                <div class="blog_topTitle__2Kn_J">
                  <h3>{{many}} دیدگاه</h3>
                  <div class="blog_line__8NVX0"></div>
                </div>
                <ul class="blog_allCommentsBody__yMgZK">
                  {% for review in reviews %}
                  <li class="blog_commentItem__BKGOv">
                    <div class="blog_commentItemTop__YgZ5J">
                      <img
                        alt="دیدگاه {{review.username}} نسبت به مقاله"
                        loading="lazy"
                        width="35"
                        height="35"
                        decoding="async"
                        data-nimg="1"
                        class="blog_profilePic__A8lbJ"
                        src="{% static "img/comment.webp" %}"
                        style="color: transparent"
                      /><span class="blog_name__FBDgv">{{review.username}}</span>
                      <div class="blog_date__UdZJt">
                        <img
                          alt="تاریخ انتشار مقاله"
                          loading="lazy"
                          width="11"
                          height="11"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/calender.svg" %}"
                          style="color: transparent"
                        /><span>۰۴ شهریور ۱۴۰۳</span>
                      </div>
                    </div>
                    <div class="blog_commentItemBody__Rdycg">
                      <p>{{review.review_text}}</p>
                    </div>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <script>
      function sendValue(value) {
        fetch('/blog/{{context.blogid}}/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({ rate: value })
        }).then(response => response.json())
          .then(data => {
            console.log('Success:', data);
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        }
    </script>
{% endblock content %}
