{% extends "base_blog.html" %}
{% block content %}
{% load static %}
    <div class="wp-page-container">
      <div class="wp-page-content">
        <div class="blog_pagebody">
          <article class="blog-mainData">
            <div class="blog_elementView__8j4LW">
              <ul class="blog_breadCrumb__mieF5">
                <li><a href="/">طلاسی: خرید و فروش طلا</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><a href="/mag">مجله طلاسی</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><a href="/mag/facts">دانستنی‌های طلا</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><span>ارزش طلا در کشورهای مختلف جهان چگونه است؟</span></li>
              </ul>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_textContainer__w1ztU">
                    <h1>ارزش طلا در کشورهای مختلف جهان چگونه است؟</h1>
                  </div>
                </div>
              </div>
              <div class="blog_moreData__QUjo5">
                <ul class="moreItem_moreData__LR8RV">
                  <div class="moreItem_moreDataContent__dF8j_">
                    <a class="moreItem_moreDataItem__pSgI3" href="/mag/@ida"
                      ><span>توسط</span
                      ><span class="moreItem_author__3kfgN">آیدا حسینی</span></a
                    >
                  </div>
                  <div class="moreItem_moreDataContent__dF8j_">
                    <li class="moreItem_moreDataItem__pSgI3">
                      <img
                        alt="تاریخ انتشار مقاله"
                        loading="lazy"
                        width="11"
                        height="11"
                        decoding="async"
                        data-nimg="1"
                        src="{% static "img/calender.svg" %}"
                        style="color: transparent"
                      /><span>۱۰ شهریور ۱۴۰۳</span>
                    </li>
                  </div>
                  <div class="moreItem_moreDataContent__dF8j_">
                    <li class="moreItem_moreDataItem__pSgI3">
                      <img
                        alt="تاریخ انتشار مقاله"
                        loading="lazy"
                        width="11"
                        height="11"
                        decoding="async"
                        data-nimg="1"
                        src="{% static "img/calender.svg" %}"
                        style="color: transparent"
                      /><span>911 بازدید</span>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_imgContainer__BiBFG">
                    <img
                      alt="ارزش طلا در کشورهای مختلف جهان چگونه است؟"
                      loading="lazy"
                      width="946"
                      height="560"
                      decoding="async"
                      data-nimg="1"
                      class="blog_mainImg__fhLaU"
                      src="{% static "img/1720502888991_sjdshfsfskfsf.webp" %}"
                      style="color: transparent"
                    />
                  </div>
                </div>
              </div>
              <div class="blog_rating__dvMme">
                <div class="container-star">
                  <div class="rate">
                    <input
                      type="radio"
                      id="star5"
                      name="rate"
                      value="5"
                      onclick="sendValue('5')"
                    />
                    <label for="star5" title="text">5 stars</label>
                    <input
                      type="radio"
                      id="star4"
                      name="rate"
                      value="4"
                      onclick="sendValue('4')"
                    />
                    <label for="star4" title="text">4 stars</label>
                    <input
                      type="radio"
                      id="star3"
                      name="rate"
                      value="3"
                      onclick="sendValue('3')"
                    />
                    <label for="star3" title="text">3 stars</label>
                    <input
                      type="radio"
                      id="star2"
                      name="rate"
                      value="2"
                      onclick="sendValue('2')"
                    />
                    <label for="star2" title="text">2 stars</label>
                    <input
                      type="radio"
                      id="star1"
                      name="rate"
                      value="1"
                      onclick="sendValue('1')"
                    />
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <div class="star-rating"></div>
                </div>
                <div class="blog_texts__xwi2r">
                  <span>4.52 - (9 امتیاز)</span>
                </div>
              </div>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_textContainer__w1ztU">
                    <p>
                      طلا به‌عنوان یکی از قدیمی‌ترین و باارزش‌ترین فلزات جهان،
                      همواره جایگاه ویژه‌ای در اقتصاد و فرهنگ کشورهای مختلف
                      داشته است. این فلز زرد رنگ نه‌تنها در صنعت جواهرسازی بلکه
                      در سرمایه‌گذاری، ذخیره‌سازی ارزش و حتی در صنایع مختلف
                      کاربردهای گسترده‌ای دارد. در این مقاله، به<strong>
                        بررسی ارزش طلا در کشورهای مختلف جهان</strong
                      >
                      پرداخته و عواملی که بر قیمت و اهمیت آن تاثیر می‌گذارند،
                      مورد بحث قرار می‌گیرد. با
                      <a href="../../../../">طلاسی</a> همراه باشید.
                    </p>
                    <h2 id="نگاهی به گذشته و ارزش طلا در کشورهای مختلف">
                      نگاهی به گذشته و ارزش طلا در کشورهای مختلف
                    </h2>
                    <p>
                      در ابتدای این مطلب بگذارید نگاهی به قبل داشته باشیم. با
                      این‌که تمام ما می‌دانیم طلا از دیرباز یک فلز نایاب و گران
                      بوده، اما بررسی دوران قبل اطلاعات بهتر و بیشتری از این
                      موضوع به ما می‌دهد.
                    </p>
                    <h3>دوران باستان</h3>
                    <p>
                      طلا از دوران باستان تا کنون به‌عنوان نمادی از ثروت و قدرت
                      مورد توجه بوده است. مصریان باستان از طلا برای ساخت جواهرات
                      و تزئینات استفاده می‌کردند و این فلز در فرهنگ‌های مختلف از
                      جمله تمدن‌های میانه آمریکا، هند و چین نیز جایگاه ویژه‌ای
                      داشته است.
                    </p>
                    <h3>‌قرون وسطی و رنسانس</h3>
                    <p>
                      در دوران قرون وسطی و رنسانس، طلا به‌عنوان وسیله‌ای برای
                      تجارت و تبادل کالا به کار می‌رفت. کشورهایی مانند اسپانیا و
                      پرتغال به دنبال کشف منابع جدید طلا در دنیای جدید بودند و
                      این فلز نقش مهمی در توسعه اقتصاد جهانی ایفا می‌کرد.
                    </p>
                    <h3>‌دوران مدرن</h3>
                    <p>
                      در دوران مدرن، طلا همچنان به‌عنوان یک دارایی باارزش شناخته
                      می‌شود. بانک‌های مرکزی کشورها به‌طور مداوم ذخایر طلای خود
                      را افزایش می‌دهند و سرمایه‌گذاران به دنبال خرید طلا
                      به‌عنوان یک پناهگاه امن در زمان‌های بحران اقتصادی هستند.
                    </p>
                    <p>&nbsp;</p>
                    <h2 id="&nbsp;عوامل تاثیرگذار بر ارزش طلا">
                      ‌عوامل تاثیرگذار بر ارزش طلا
                    </h2>
                    <p>
                      حال که دانستیم در گذشته طلا به چه شکل بوده، در این بخش
                      نگاهی به عوامل تاثیرگذار بر ارزش طلا می‌اندازیم.
                    </p>
                    <h3>‌تقاضای صنعتی و جواهرات</h3>
                    <p>
                      یکی از عوامل اصلی تاثیرگذار بر
                      <a href="../../../../gold-price" target="_blank"
                        >قیمت طلا</a
                      >، تقاضا در صنعت جواهرسازی و کاربردهای صنعتی است. افزایش
                      تقاضا در این بخش‌ها می‌تواند به افزایش قیمت طلا منجر شود.
                    </p>
                    <h3>‌سیاست‌های مالی و پول</h3>
                    <p>
                      سیاست‌های مالی و پولی کشورها نیز نقش مهمی در تعیین ارزش
                      طلا دارند. کاهش نرخ بهره، افزایش نقدینگی و سیاست‌های تسهیل
                      پولی می‌توانند به افزایش قیمت طلا منجر شوند.
                    </p>
                    <h3>‌نوسانات ارز</h3>
                    <p>
                      نوسانات ارزش ارزهای مختلف، به ویژه دلار آمریکا، می‌تواند
                      بر قیمت طلا تاثیر بگذارد. کاهش ارزش دلار معمولا به افزایش
                      قیمت طلا منجر می‌شود، زیرا طلا به‌عنوان یک دارایی جایگزین
                      در برابر کاهش ارزش پول مطرح می‌شود.
                    </p>
                    <h3>‌شرایط اقتصادی و سیاسی</h3>
                    <p>
                      شرایط اقتصادی و سیاسی جهان نیز می‌تواند به‌طور مستقیم بر
                      ارزش طلا تاثیر بگذارد. بحران‌های اقتصادی، تنش‌های سیاسی و
                      جنگ‌ها معمولا باعث افزایش تقاضا برای طلا به‌عنوان یک
                      دارایی امن می‌شوند.
                    </p>
                    <p>&nbsp;</p>
                    <h2 id="&nbsp;ارزش طلا در کشورهای مختلف">
                      ‌ارزش طلا در کشورهای مختلف
                    </h2>
                    <p>
                      حال به سراغ بررسی ارزش طلا در کشورهای مختلف می‌رویم. این
                      بررسی به ما نشان می‌دهد که طلا تا چه اندازه و در چه
                      کشورهایی رکن اصلی اقتصاد است.
                    </p>
                    <h3>‌ایالات متحده آمریکا</h3>
                    <p>
                      ایالات متحده آمریکا به‌عنوان بزرگ‌ترین اقتصاد جهان، نقش
                      مهمی در تعیین ارزش جهانی طلا دارد. بانک مرکزی آمریکا
                      (فدرال رزرو) با سیاست‌های مالی و پولی خود می‌تواند تاثیر
                      قابل‌توجهی بر قیمت طلا بگذارد. علاوه بر این، آمریکا یکی از
                      بزرگ‌ترین مصرف‌کنندگان طلا در صنعت جواهرسازی و
                      سرمایه‌گذاری است.
                    </p>
                    <h3>‌چین</h3>
                    <p>
                      چین یکی از بزرگ‌ترین تولیدکنندگان و مصرف‌کنندگان طلا در
                      جهان است. این کشور نه‌تنها در صنعت جواهرسازی بلکه در
                      ذخیره‌سازی ارزش نیز از طلا استفاده می‌کند. بانک مرکزی چین
                      نیز با افزایش ذخایر طلای خود نقش مهمی در بازار جهانی ایفا
                      می‌کند.
                    </p>
                    <h3>‌هند</h3>
                    <p>
                      هند به‌عنوان یکی از بزرگ‌ترین مصرف‌کنندگان طلا در جهان،
                      تقاضای بالایی برای این فلز دارد. طلا در فرهنگ هند جایگاه
                      ویژه‌ای دارد و به‌عنوان یک دارایی مهم در مراسم‌ها و
                      جشن‌های مختلف استفاده می‌شود. علاوه بر این، طلا به‌عنوان
                      یک سرمایه‌گذاری مهم در میان مردم هند مطرح است.
                    </p>
                    <h3>‌روسیه</h3>
                    <p>
                      روسیه نیز یکی از بزرگ‌ترین تولیدکنندگان و ذخیره‌کنندگان
                      طلا در جهان است. بانک مرکزی روسیه به‌طور مداوم ذخایر طلای
                      خود را افزایش می‌دهد و این کشور نقش مهمی در بازار جهانی
                      طلا ایفا می‌کند. افزایش تحریم‌های اقتصادی علیه روسیه نیز
                      باعث افزایش تقاضا برای طلا در این کشور شده است.
                    </p>
                    <h3>‌کشورهای اروپایی</h3>
                    <p>
                      کشورهای اروپایی نیز نقش مهمی در بازار جهانی طلا دارند.
                      بانک‌های مرکزی کشورهای اروپایی از جمله آلمان، فرانسه و
                      ایتالیا ذخایر طلای قابل‌توجهی دارند و این کشورها به‌عنوان
                      مراکز مهمی برای تجارت و سرمایه‌گذاری طلا شناخته می‌شوند.
                    </p>
                    <p>&nbsp;</p>
                    <h2 id="&nbsp;نقش بانک‌های مرکزی در ارزش طلا">
                      ‌نقش بانک‌های مرکزی در ارزش طلا
                    </h2>
                    <p>
                      بانک‌های مرکزی کشورها از ذخایر طلا به‌عنوان یکی از
                      ابزارهای مهم ذخیره ارزش و پشتیبانی از ارز ملی استفاده
                      می‌کنند. افزایش ذخایر طلا توسط بانک‌های مرکزی می‌تواند به
                      افزایش ارزش این فلز منجر شود.
                    </p>
                    <h3>‌سیاست‌های پولی و ارزش طلا</h3>
                    <p>
                      سیاست‌های پولی بانک‌های مرکزی نیز می‌تواند تاثیر
                      قابل‌توجهی بر قیمت طلا داشته باشد. کاهش نرخ بهره،
                      سیاست‌های تسهیل پولی و افزایش نقدینگی معمولا به افزایش
                      قیمت طلا منجر می‌شود.
                    </p>
                    <p>&nbsp;</p>
                    <h2 id="&nbsp;تاثیر بازارهای مالی بر ارزش طلا">
                      ‌تاثیر بازارهای مالی بر ارزش طلا
                    </h2>
                    <p>
                      بازارهای آتی یکی از ابزارهای مهم برای تعیین قیمت طلا در
                      آینده هستند. قراردادهای آتی طلا به سرمایه‌گذاران این امکان
                      را می‌دهند که بر روی قیمت طلا در آینده شرط‌بندی کنند و این
                      می‌تواند به نوسانات قیمت این فلز منجر شود.
                    </p>
                    <h3>‌بازارهای سهام</h3>
                    <p>
                      بازارهای سهام نیز می‌توانند به‌طور غیرمستقیم بر قیمت طلا
                      تاثیر بگذارند. افزایش نوسانات در بازارهای سهام معمولا باعث
                      افزایش تقاضا برای طلا به‌عنوان یک دارایی امن می‌شود.
                    </p>
                    <h3>‌بازارهای ارز</h3>
                    <p>
                      نوسانات در بازارهای ارز، به‌ویژه دلار آمریکا، می‌تواند
                      تاثیر قابل‌توجهی بر قیمت طلا داشته باشد. کاهش ارزش دلار
                      معمولا به افزایش قیمت طلا منجر می‌شود.
                    </p>
                    <p>&nbsp;</p>
                    <h2 id="&nbsp;تحلیل روندهای آینده ارزش طلا">
                      تحلیل روندهای آینده ارزش طلا
                    </h2>
                    <p>
                      پیش‌بینی قیمت طلا یکی از موضوعات پیچیده و چالش‌برانگیز
                      است. عوامل مختلفی از جمله تقاضای صنعتی و جواهرات،
                      سیاست‌های مالی و پولی، نوسانات ارز و شرایط اقتصادی و سیاسی
                      می‌توانند بر قیمت طلا تاثیر بگذارند.
                    </p>
                    <h3>‌تاثیر تکنولوژی‌های جدید</h3>
                    <p>
                      توسعه تکنولوژی‌های جدید می‌تواند به افزایش تقاضا برای طلا
                      در صنایع مختلف منجر شود. به‌عنوان مثال، استفاده از طلا در
                      صنعت الکترونیک و تکنولوژی‌های نوین می‌تواند تقاضا برای این
                      فلز را افزایش دهد.
                    </p>
                    <p>&nbsp;</p>
                    <h2 id="جمع‌بندی">سخن پایانی</h2>
                    <p>
                      طلا به‌عنوان یکی از مهم‌ترین فلزات جهان، نقش بسیار مهمی در
                      اقتصاد و فرهنگ کشورهای مختلف ایفا می‌کند. عوامل مختلفی از
                      جمله تقاضای صنعتی و جواهرات، سیاست‌های مالی و پولی،
                      نوسانات ارز و شرایط اقتصادی و سیاسی می‌توانند بر ارزش طلا
                      تاثیر بگذارند. باتوجه‌به نقش مهم طلا در ذخیره‌سازی ارزش و
                      سرمایه‌گذاری، تحلیل و پیش‌بینی روندهای آینده قیمت این فلز
                      برای سرمایه‌گذاران و سیاست‌گذاران اقتصادی از اهمیت ویژه‌ای
                      برخوردار است.
                    </p>
                  </div>
                </div>
              </div>
              <div class="blog_profileContainer__RPcCD">
                <div class="blog_profileImg__SI_2X">
                  <img
                    alt="آیدا حسینی  هستم، یه علاقه‌مند به بازارهای مالی و مخصوصاً طلا. از همون دوران جوانی، با ذره‌بین دنبال فرصت‌های سرمایه‌گذاری بودم و سعی می‌کردم رازهای پنهان این بازارها رو کشف کنم. بعد از گذروندن سال‌ها مطالعه و تجربه، تصمیم گرفتم دانسته‌هام رو با شما به اشتراک بذارم."
                    loading="lazy"
                    width="85"
                    height="85"
                    decoding="async"
                    data-nimg="1"
                    class="blog_mainImg__fhLaU"
                    src="media/img/1700036169632_3242424.webp"
                    style="color: transparent"
                  />
                </div>
                <div class="blog_profileDetail__rMeKy">
                  <a class="blog_profileName__OYf6f" href="/mag/@ida"
                    >آیدا حسینی</a
                  ><span>تولید محتوا</span>
                  <p>
                    آیدا حسینی هستم، یه علاقه‌مند به بازارهای مالی و مخصوصاً
                    طلا. از همون دوران جوانی، با ذره‌بین دنبال فرصت‌های
                    سرمایه‌گذاری بودم و سعی می‌کردم رازهای پنهان این بازارها رو
                    کشف کنم. بعد از گذروندن سال‌ها مطالعه و تجربه، تصمیم گرفتم
                    دانسته‌هام رو با شما به اشتراک بذارم.
                  </p>
                  <div class="blog_profileMedia__lNVy_"></div>
                </div>
              </div>
              <div class="blog_relatedData__VSSTu">
                <h2>نوشته های مرتبط</h2>
                <div class="blog_relatedBody__5RKET">
                  <a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/gold-tooth"
                    ><img
                      alt="دندان طلا  بررسی مزایا و معایب روکش طلا دندان"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728226041554_Picture3.png&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728226041554_Picture3.png&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728226041554_Picture3.png&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>دندان طلا بررسی مزایا و معایب روکش طلا دندان</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>15 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  ><a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/meteorite-gold"
                    ><img
                      alt="آیا شهاب سنگ طلا دارد؟ شهاب سنگ حاوی چه فلزاتی است؟"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728225446352_Picture1.png&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728225446352_Picture1.png&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728225446352_Picture1.png&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>آیا شهاب سنگ طلا دارد؟ شهاب سنگ حاوی چه فلزاتی است؟</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>8 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  ><a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/largest-gold-necklace-dubai"
                    ><img
                      alt="رکورد بزرگترین گردنبند طلا در دوبی"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728224594721_Picture1.jpg&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728224594721_Picture1.jpg&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728224594721_Picture1.jpg&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>رکورد بزرگترین گردنبند طلا در دوبی</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>14 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  ><a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/characteristics-professional-gold-dealer"
                    ><img
                      alt="فروشنده طلا، ۵ ویژگی یک فروشنده حرفه‌ای طلا و جواهر"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728215981199_Picture2.png&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728215981199_Picture2.png&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728215981199_Picture2.png&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>فروشنده طلا، ۵ ویژگی یک فروشنده حرفه‌ای طلا و جواهر</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>11 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  >
                </div>
              </div>
              <div class="blog_comment__y9sjM">
                <h3>دیدگاه شما</h3>
                <div class="blog_commentBox__Brqe6">
                  <div class="blog_topBox__LRCwh">
                    <div class="blog_commentImg__JJLrP">
                      <img
                        alt="دیدگاه کاربر نسبت به مقاله"
                        loading="lazy"
                        width="40"
                        height="40"
                        decoding="async"
                        data-nimg="1"
                        src="media/img/comment.webp"
                        style="color: transparent"
                      />
                    </div>
                    <div class="blog_commentName__jAV7q">
                      <input placeholder="نام*" class="" type="text" value="" />
                    </div>
                    <div class="blog_commentEmail__6NU32">
                      <input
                        placeholder="ایمیل*"
                        class=""
                        type="email"
                        value=""
                      />
                    </div>
                  </div>
                  <div class="blog_boxBody__egn2_">
                    <textarea
                      cols="30"
                      rows="10"
                      placeholder="دیدگاه"
                      class=""
                    ></textarea>
                  </div>
                  <div class="blog_boxButton__7FxdH">
                    <button class="button-container" id="">
                      <div class="dots-container">
                        <div style="background-color: rgb(107, 112, 116)"></div>
                        <div style="background-color: rgb(107, 112, 116)"></div>
                        <div style="background-color: rgb(107, 112, 116)"></div>
                        <div style="background-color: rgb(107, 112, 116)"></div>
                      </div>
                      <span class="buttonData">ارسال دیدگاه</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="blog_allComments__AL2CC">
                <div class="blog_topTitle__2Kn_J">
                  <h3>2 دیدگاه</h3>
                  <div class="blog_line__8NVX0"></div>
                </div>
                <ul class="blog_allCommentsBody__yMgZK">
                  <li class="blog_commentItem__BKGOv">
                    <div class="blog_commentItemTop__YgZ5J">
                      <img
                        alt="دیدگاه علی نسبت به مقاله"
                        loading="lazy"
                        width="35"
                        height="35"
                        decoding="async"
                        data-nimg="1"
                        class="blog_profilePic__A8lbJ"
                        src="media/img/comment.webp"
                        style="color: transparent"
                      /><span class="blog_name__FBDgv">علی</span>
                      <div class="blog_date__UdZJt">
                        <img
                          alt="تاریخ انتشار مقاله"
                          loading="lazy"
                          width="11"
                          height="11"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/calender.svg" %}"
                          style="color: transparent"
                        /><span>۰۴ شهریور ۱۴۰۳</span>
                      </div>
                    </div>
                    <div class="blog_commentItemBody__Rdycg">
                      <p>جالب بود</p>
                    </div>
                  </li>
                  <li class="blog_commentItem__BKGOv">
                    <div class="blog_commentItemTop__YgZ5J">
                      <img
                        alt="دیدگاه رضا معاوی نسبت به مقاله"
                        loading="lazy"
                        width="35"
                        height="35"
                        decoding="async"
                        data-nimg="1"
                        class="blog_profilePic__A8lbJ"
                        src="media/img/comment.webp"
                        style="color: transparent"
                      /><span class="blog_name__FBDgv">رضا معاوی</span>
                      <div class="blog_date__UdZJt">
                        <img
                          alt="تاریخ انتشار مقاله"
                          loading="lazy"
                          width="11"
                          height="11"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/calender.svg" %}"
                          style="color: transparent"
                        /><span>۲۲ شهریور ۱۴۰۳</span>
                      </div>
                    </div>
                    <div class="blog_commentItemBody__Rdycg">
                      <p>
                        آیدا عزیز از اینکه زمان زیادی و صرف تهیه این مقاله کامل
                        و آموزنده کردی از شما بسیار سپاسگزارم
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <script>
      function changeAfterwidht(newwidth) {
        // Find the stylesheet
        const styleSheet = document.styleSheets[0];

        // Construct the new rule
        const rule = `.star-rating::before { content: "★★★★★"; font-size: 36px; color: #ffd700; position: absolute; top: 0; right: 0; z-index: 1; width:  ${newwidth}; overflow: hidden }`;

        // Remove the existing rule if it exists
        for (let i = 0; i < styleSheet.cssRules.length; i++) {
          if (styleSheet.cssRules[i].selectorText === ".star-rating::before") {
            styleSheet.deleteRule(i);
            break;
          }
        }

        // Insert the new rule
        styleSheet.insertRule(rule, styleSheet.cssRules.length);
      }

      // Call the function to change the ::after color
      changeAfterwidht("40%");


      function sendValue(value) {
        fetch("/submit_value/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"), // Ensure the CSRF token is sent for Django
          },
          body: JSON.stringify({ value: value }),
        })
          .then((response) => {
            if (response.ok) {
              console.log("Value submitted successfully!");
            } else {
              console.error("Failed to submit value.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // Function to get the CSRF token
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>
{% endblock content %}
