{% extends "base_blog.html" %}
{% block content %}
{% load static %}
    <div class="wp-page-container">
      <div class="wp-page-content">
        <div class="blog_pagebody">
          <article class="blog-mainData">
            <div class="blog_elementView__8j4LW">
              <ul class="blog_breadCrumb__mieF5">
                <li><a href="/">طلاسی: خرید و فروش طلا</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><a href="/mag">مجله طلاسی</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><a href="/mag/facts">دانستنی‌های طلا</a></li>
                <img
                  alt="فلش چپ"
                  loading="lazy"
                  width="9"
                  height="12"
                  decoding="async"
                  data-nimg="1"
                  src="{% static "img/arrowLeft.svg" %}"
                  style="color: transparent"
                />
                <li><span>{{context.title}}</span></li>
              </ul>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_textContainer__w1ztU">
                    <h1>{{context.title}}</h1>
                  </div>
                </div>
              </div>
              <div class="blog_moreData__QUjo5">
                <ul class="moreItem_moreData__LR8RV">
                  <div class="moreItem_moreDataContent__dF8j_">
                    <a class="moreItem_moreDataItem__pSgI3" href="/mag/@ida"
                      ><span>توسط</span
                      ><span class="moreItem_author__3kfgN">{{context.author.name}}</span></a
                    >
                  </div>
                  <div class="moreItem_moreDataContent__dF8j_">
                    <li class="moreItem_moreDataItem__pSgI3">
                      <img
                        alt="تاریخ انتشار مقاله"
                        loading="lazy"
                        width="11"
                        height="11"
                        decoding="async"
                        data-nimg="1"
                        src="{% static "img/calender.svg" %}"
                        style="color: transparent"
                      /><span>{{context.day}} {{context.month}} {{context.year}}</span>
                    </li>
                  </div>
                  <div class="moreItem_moreDataContent__dF8j_">
                    <li class="moreItem_moreDataItem__pSgI3">
                      <img
                        alt="تاریخ انتشار مقاله"
                        loading="lazy"
                        width="11"
                        height="11"
                        decoding="async"
                        data-nimg="1"
                        src="{% static "img/calender.svg" %}"
                        style="color: transparent"
                      /><span>{{context.view_count}} بازدید</span>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_imgContainer__BiBFG">
                    <img
                      alt="{{context.title}}"
                      loading="lazy"
                      width="946"
                      height="560"
                      decoding="async"
                      data-nimg="1"
                      class="blog_mainImg__fhLaU"
                      src="{{context.blog_image.url}}"
                      style="color: transparent"
                    />
                  </div>
                </div>
              </div>
              <div class="blog_rating__dvMme">
                <div class="container-star">
                  <div class="rate">
                    <input
                      type="radio"
                      id="star5"
                      name="rate"
                      value="5"
                      onclick="sendValue('5')"
                    />
                    <label for="star5" title="text">5 stars</label>
                    <input
                      type="radio"
                      id="star4"
                      name="rate"
                      value="4"
                      onclick="sendValue('4')"
                    />
                    <label for="star4" title="text">4 stars</label>
                    <input
                      type="radio"
                      id="star3"
                      name="rate"
                      value="3"
                      onclick="sendValue('3')"
                    />
                    <label for="star3" title="text">3 stars</label>
                    <input
                      type="radio"
                      id="star2"
                      name="rate"
                      value="2"
                      onclick="sendValue('2')"
                    />
                    <label for="star2" title="text">2 stars</label>
                    <input
                      type="radio"
                      id="star1"
                      name="rate"
                      value="1"
                      onclick="sendValue('1')"
                    />
                    <label for="star1" title="text">1 star</label>
                  </div>
                  <div class="star-rating"></div>
                </div>
                <div class="blog_texts__xwi2r">
                  <span>4.52 - (9 امتیاز)</span>
                </div>
              </div>
              <div class="blog_elementViewItem__dyPtL">
                <div class="blog_itemContent__ODNOA">
                  <div class="blog_textContainer__w1ztU">
                    {{ context.text|safe }}
                  </div>
                </div>
              </div>
              <div class="blog_profileContainer__RPcCD">
                <div class="blog_profileImg__SI_2X">
                  <img
                    alt="{{context.author.discription}}"
                    loading="lazy"
                    width="85"
                    height="85"
                    decoding="async"
                    data-nimg="1"
                    class="blog_mainImg__fhLaU"
                    src="{{context.author.author_img.url}}"
                    style="color: transparent"
                  />
                </div>
                <div class="blog_profileDetail__rMeKy">
                  <a class="blog_profileName__OYf6f" href="/mag/@ida"
                    >{{context.author.name}}</a
                  ><span>تولید محتوا</span>
                  <p>{{context.author.discription}}</p>
                  <div class="blog_profileMedia__lNVy_"></div>
                </div>
              </div>
              <div class="blog_relatedData__VSSTu">
                <h2>نوشته های مرتبط</h2>
                <div class="blog_relatedBody__5RKET">
                  <a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/gold-tooth"
                    ><img
                      alt="دندان طلا  بررسی مزایا و معایب روکش طلا دندان"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728226041554_Picture3.png&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728226041554_Picture3.png&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728226041554_Picture3.png&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>دندان طلا بررسی مزایا و معایب روکش طلا دندان</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>15 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  ><a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/meteorite-gold"
                    ><img
                      alt="آیا شهاب سنگ طلا دارد؟ شهاب سنگ حاوی چه فلزاتی است؟"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728225446352_Picture1.png&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728225446352_Picture1.png&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728225446352_Picture1.png&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>آیا شهاب سنگ طلا دارد؟ شهاب سنگ حاوی چه فلزاتی است؟</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>8 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  ><a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/largest-gold-necklace-dubai"
                    ><img
                      alt="رکورد بزرگترین گردنبند طلا در دوبی"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728224594721_Picture1.jpg&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728224594721_Picture1.jpg&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728224594721_Picture1.jpg&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>رکورد بزرگترین گردنبند طلا در دوبی</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>14 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  ><a
                    class="blog_relatedItem__0oEsy"
                    href="/mag/facts/characteristics-professional-gold-dealer"
                    ><img
                      alt="فروشنده طلا، ۵ ویژگی یک فروشنده حرفه‌ای طلا و جواهر"
                      loading="lazy"
                      width="210"
                      height="120"
                      decoding="async"
                      data-nimg="1"
                      class="blog_relatedImg__Vttb0"
                      srcset="
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728215981199_Picture2.png&amp;w=256&amp;q=75 1x,
                        /_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728215981199_Picture2.png&amp;w=640&amp;q=75 2x
                      "
                      src="/_next/image?url=https%3A%2F%2Ftalasea.ir%2Fuploads%2F1728215981199_Picture2.png&amp;w=640&amp;q=75"
                      style="color: transparent"
                    />
                    <h3>فروشنده طلا، ۵ ویژگی یک فروشنده حرفه‌ای طلا و جواهر</h3>
                    <ul class="moreItem_moreData__LR8RV">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>۱۵ مهر ۱۴۰۳</span>
                        </li>
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>11 بازدید</span>
                        </li>
                      </div>
                    </ul></a
                  >
                </div>
              </div>
              <form method="POST">
                {% csrf_token %}
                <div class="blog_comment__y9sjM">
                  <h3>دیدگاه شما</h3>
                  <div class="blog_commentBox__Brqe6">
                    <div class="blog_topBox__LRCwh">
                      <div class="blog_commentImg__JJLrP">
                        <img
                          alt="دیدگاه کاربر نسبت به مقاله"
                          loading="lazy"
                          width="40"
                          height="40"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/comment.webp" %}"
                          style="color: transparent"
                        />
                      </div>
                      <div class="blog_commentName__jAV7q">
                        {{ form.username }}
                      </div>
                      <div class="blog_commentEmail__6NU32">
                        {{ form.email }}
                      </div>
                    </div>
                    <div class="blog_boxBody__egn2_">
                      {{ form.review_text }}
                    </div>
                    <div class="blog_boxButton__7FxdH">
                      <div class="button-container" id="">
                        <div class="dots-container">
                          <div style="background-color: rgb(107, 112, 116)"></div>
                          <div style="background-color: rgb(107, 112, 116)"></div>
                          <div style="background-color: rgb(107, 112, 116)"></div>
                          <div style="background-color: rgb(107, 112, 116)"></div>
                        </div>
                        <button type="submit" class="buttonData" >ارسال دیدگاه</button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
              <div class="blog_allComments__AL2CC">
                <div class="blog_topTitle__2Kn_J">
                  <h3>{{many}} دیدگاه</h3>
                  <div class="blog_line__8NVX0"></div>
                </div>
                <ul class="blog_allCommentsBody__yMgZK">
                  {% for review in reviews %}
                  <li class="blog_commentItem__BKGOv">
                    <div class="blog_commentItemTop__YgZ5J">
                      <img
                        alt="دیدگاه {{review.username}} نسبت به مقاله"
                        loading="lazy"
                        width="35"
                        height="35"
                        decoding="async"
                        data-nimg="1"
                        class="blog_profilePic__A8lbJ"
                        src="{% static "img/comment.webp" %}"
                        style="color: transparent"
                      /><span class="blog_name__FBDgv">{{review.username}}</span>
                      <div class="blog_date__UdZJt">
                        <img
                          alt="تاریخ انتشار مقاله"
                          loading="lazy"
                          width="11"
                          height="11"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/calender.svg" %}"
                          style="color: transparent"
                        /><span>۰۴ شهریور ۱۴۰۳</span>
                      </div>
                    </div>
                    <div class="blog_commentItemBody__Rdycg">
                      <p>{{review.review_text}}</p>
                    </div>
                  </li>
                  
                  {% endfor %}
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <script>
      function changeAfterwidht(newwidth) {
        // Find the stylesheet
        const styleSheet = document.styleSheets[0];

        // Construct the new rule
        const rule = `.star-rating::before { content: "★★★★★"; font-size: 36px; color: #ffd700; position: absolute; top: 0; right: 0; z-index: 1; width:  ${newwidth}; overflow: hidden }`;

        // Remove the existing rule if it exists
        for (let i = 0; i < styleSheet.cssRules.length; i++) {
          if (styleSheet.cssRules[i].selectorText === ".star-rating::before") {
            styleSheet.deleteRule(i);
            break;
          }
        }

        // Insert the new rule
        styleSheet.insertRule(rule, styleSheet.cssRules.length);
      }

      // Call the function to change the ::after color
      changeAfterwidht("40%");


      function sendValue(value) {
        fetch("/submit_value/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"), // Ensure the CSRF token is sent for Django
          },
          body: JSON.stringify({ value: value }),
        })
          .then((response) => {
            if (response.ok) {
              console.log("Value submitted successfully!");
            } else {
              console.error("Failed to submit value.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      // Function to get the CSRF token
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
    </script>
{% endblock content %}
