{% load static %}
<footer class="bodymain-containerland">
  <div class="footer-top">
    <div class="footer-top-right">
      <a href="/"
        ><img
          alt="لوگو طلاسی"
          loading="lazy"
          width="226"
          height="38"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="{% static 'img/logo.svg' %}"
      /></a>
      <span
        >طلاسی، پلتفرم خرید و فروش آنلاین طلا خام و بدون اجرت، آسان‌ترین و
        امن‌ترین راه را برای حفظ ارزش سرمایه شما ارائه می‌کند.</span
      >
    </div>
    <div class="footer-top-center">
      <div class="footer_topFooterCenter">
        <div class="footer_topFooterCenterContent">
          <h3>آموزش ها</h3>
          <a href="/about-us">درباره طلاسی</a>
          <a href="/faq">سوالات متداول</a>
          <a href="/rules">قوانین و مقررات</a>
          <a href="/edu">آموزش‌ها</a>
        </div>
      </div>
      <div class="footer_topFooterCenter">
        <div class="footer_topFooterCenterContent">
          <h3>امکانات</h3>
          <a href="/mag">بلاگ طلاسی</a>
          <a href="/application">اپلیکیشن خرید طلا</a>
          <a href="/calculator">محاسبه قیمت طلا</a>
          <a href="/gold-price">قیمت لحظه ای طلا</a>
          <a href="/coin-price">قیمت لحظه ای سکه</a>
        </div>
      </div>
    </div>
    <div class="footer-top-left">
      <div class="footer_topFooterLeftContent">
        <span>ما را در شبکه‌های‌ اجتماعی دنبال کنید</span>
        <div class="footer_media">
          <a
            class="footer_footerMediaImg"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://www.instagram.com/talasea_ir/"
            ><img alt="instagram talasea" loading="lazy" width="26" height="26"
            decoding="async" data-nimg="1" style="color: transparent"
            src="{%static "img/instagram.svg" %}" /></a
          >
          <a
            class="footer_footerMediaImg"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://twitter.com/talasea_ir"
            ><img alt="twitter talasea" loading="lazy" width="26" height="21"
            decoding="async" data-nimg="1" style="color: transparent"
            src="{%static "img/twitter.svg" %}" /></a
          >
          <a
            class="footer_footerMediaImg"
            target="_blank"
            rel="nofollow noopener noreferrer"
            href="https://t.me/talasea_ir"
            ><img alt="telegram talasea" loading="lazy" width="26" height="26"
            decoding="async" data-nimg="1" style="color: transparent"
            src="{%static "img/telegram.svg" %}" /></a
          >
        </div>
        <div class="footer_namads">
          <a
            target="_blank"
            class="footer_namad"
            rel="nofollow noopener noreferrer"
            href="https://tehran.irannsr.org/fa/trade_unit/2496578/swd_id/104366/%D8%A7%D8%B9%D8%B6%D8%A7%DB%8C-%D8%AD%D9%82%D9%88%D9%82%DB%8C-%D8%AA%D9%88%D8%B3%D8%B9%D9%87-%D8%B1%D8%A7%D9%87%DA%A9%D8%A7%D8%B1%D8%A7%D9%84%D9%88%D9%86%D8%AF-%D8%A7%D8%B1%D8%B3%D8%A8%D8%A7%D8%B1%D8%A7%D9%86.html"
          >
            <div class="footer_img">
              <img alt="نماد نظام صنفی یارانه ای" loading="lazy" width="77"
              height="65" decoding="async" data-nimg="1" style="color:
              transparent" e?url="%2Fimages%2Fshared%2FnezamSenfi.png"
              src="{%static "img/nezamSenfi.webp" %}" />
            </div>
          </a>
          <a
            target="_blank"
            class="footer_namad"
            rel="nofollow noopener noreferrer"
            href="https://trustseal.enamad.ir/?id=385712&amp;code=HpjvSFHIjlK6be1cSfinM4BHOsecBdBf"
          >
            <div class="footer_img__FvGo5">
              <img alt="نماد اعتبار (اینماد)" loading="lazy" width="60"
              height="65" decoding="async" data-nimg="1" style="color:
              transparent" src="{%static "img/enamad.webp" %}" />
            </div>
          </a>
          <div class="footer_namad">
            <div class="footer_img">
              <img alt="نماد اتحادیه صنف طلافروشان" loading="lazy" width="65"
              height="65" decoding="async" data-nimg="1" style="color:
              transparent" src="{%static "img/estjt.webp" %}" />
            </div>
          </div>
          <div class="footer_namad">
            <div class="footer_img">
              <img alt="نماد اتحادیه صنف طلافروشان" loading="lazy" width="57"
              height="65" decoding="async" data-nimg="1" style="color:
              transparent" src="{% static "img/ecunion.webp" %}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-app">
    <div class="footer_rightApp">
      <h3>دانلود اپلیکیشن طلاسی</h3>
    </div>
    <div class="footer_leftApp">
      <a
        title="دریافت اپلیکیشن از بازار"
        class="footer_myket__0bn6x"
        href="/application"
      >
        <img alt="دریافت اپلیکیشن طلاسی از بازار" loading="lazy" width="142"
        height="44" decoding="async" data-nimg="1" style="color: transparent"
        src="{% static "img/coffe-bazzar.svg" %}" />
      </a>
      <a
        title="دریافت اپلیکیشن از مایکت"
        class="footer_myket__0bn6x"
        href="/application"
        ><img alt="دریافت اپلیکیشن طلاسی از مایکت" loading="lazy" width="142"
        height="44" decoding="async" data-nimg="1" style="color: transparent"
        src="{% static "img/myket.svg" %}" /></a
      >
      <a title="دریافت نسخه pwa" class="footer_pwa__t8OG5" href="/application"
        ><img alt="دریافت نسخه pwa" loading="lazy" width="142" height="44"
        decoding="async" data-nimg="1" style="color: transparent" decoding
        src="{% static "img/pwa.svg" %}" /></a
      >
      <a class="footer_more__zc61d" href="/application"
        ><svg
          width="9"
          height="12"
          viewBox="0 0 9 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M7.5 1.5L3 6L7.5 10.5" stroke="#000" stroke-width="3"></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer_bottomFooter">
    <div class="footer_bottomFooterItem">
      <div class="footer_icon">
        <img alt="آدرس طلاسی" loading="lazy" width="24" height="24"
        decoding="async" data-nimg="1" style="color: transparent"
        src="{% static "img/Location.svg" %}" />
      </div>
      <span>آدرس: تهران, میدان هروی, بازار طلای هروی سنتر, پلاک B44</span>
    </div>
    <a href="tel:02191690818" class="footer_bottomFooterItem">
      <div class="footer_icon">
        <img alt="شماره تلفن طلاسی" loading="lazy" width="24" height="24"
        decoding="async" data-nimg="1" src="{% static "img/Calling.svg" %}"
        style="color: transparent" />
      </div>
      <span
        >تلفن تماس: <span class="footer_telephone">02191690818</span> (24 ساعته
        و در 7 روز هفته)</span
      >
    </a>
    <div class="footer_bottomFooterItem">
      <div class="footer_icon">
        <img alt="پشتیبانی طلاسی" loading="lazy" width="24" height="24"
        decoding="async" data-nimg="1" style="color: transparent"
        src="{% static "img/chat.webp" %}" />
      </div>
      <span
        >پشتیبانی چت آنلاین:24 ساعته و در 7 روز هفته پاسخگوی شما هستیم.</span
      >
    </div>
  </div>
  <div class="footer_landLinks">
    <h2>لینک های مفید</h2>
    <ul>
      <li>
        <a href="/geram18">طلای ۱۸ عیار</a>
      </li>
      <span>|</span>
      <li>
        <a href="/geram21">طلای ۲۱ عیار</a>
      </li>
      <span>|</span>
      <li>
        <a href="/geram24">طلای ۲۴ عیار</a>
      </li>
      <span>|</span>
      <li>
        <a href="/gold-mini-size">طلای دست دوم</a>
      </li>
      <span>|</span>
      <li>
        <a href="/mesghal">مثقال طلا</a>
      </li>
      <span>|</span>
      <li>
        <a href="/gold-futures">قیمت طلا آب شده</a>
      </li>
      <span>|</span>
      <li>
        <a href="/ons">انس طلا جهانی</a>
      </li>
      <span>|</span>
      <li>
        <a href="/seke-emami">سکه امامی</a>
      </li>
      <span>|</span>
      <li>
        <a href="/seke-bahar">سکه بهار آزادی</a>
      </li>
      <span>|</span>
      <li>
        <a href="/nim-seke">نیم سکه</a>
      </li>
      <span>|</span>
      <li>
        <a href="/rob-seke">ربع سکه</a>
      </li>
      <span>|</span>
      <li>
        <a href="/seke-gerami">سکه گرمی</a>
      </li>
      <span>|</span>
      <li>
        <a href="/parsian">سکه پارسیان</a>
      </li>
      <span>|</span>
      <li>
        <a href="/mini-size-calc">محاسبه قیمت طلا دست دوم</a>
      </li>
    </ul>
  </div>
  <div class="footer_copyRight">
    <span
      >Copyright © 2024 Talasea | شرکت توسعه راهکار الوند ارسباران |
      version:1.9.7</span
    >
  </div>
</footer>
<div class="widget-icon">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
    <path
      d="M60.19,53.75a3,3,0,1,0,3.06,3A3,3,0,0,0,60.19,53.75Zm-11.37,0a3,3,0,1,0,3.06,3A3,3,0,0,0,48.81,53.75Zm45.94,4A35,35,0,1,0,52.75,92v12.76s14.55-4.25,30.53-19.28C94.68,74.74,94.75,59.41,94.75,59.41l0,0C94.74,58.87,94.75,58.3,94.75,57.72Zm-10.14.6s0,10.64-8,18.09A57.93,57.93,0,0,1,53,89.8V80.34A24.29,24.29,0,1,1,84.61,57.16c0,.4,0,.8,0,1.19ZM70.69,53.75a3,3,0,1,0,3.06,3A3,3,0,0,0,70.69,53.75Z"
      transform="translate(0.25 0.25)"
      style="fill: #ffffff"
    ></path>
  </svg>
</div>
<div class="bell-container">
  <img src="{% static "img/bell.svg" %}" alt="" class="bell" />
</div>
{% load static %}
<script src="{% static 'js/bootstrap.js' %}"></script>
