{% extends "base.html" %}
{% block content %}
{% load static %}
<header class="header">
            <div class="main_notificationContainer">
                <div class="main_rightContent">
                    <div class="main_rightTexts">
                        <h2>قیمت لحظه ای طلای 18 عیار</h2>
                        <span class="main_light">(گرمی)</span>
                    </div>
                    <div class="main_leftTexts">
                        <span>3,562,000</span>
                        <span class="main_irtText">تومان</span>
                    </div>
                </div>
                <div class="main_leftContent">
                        <span>امروز:<!-- --> <!-- -->دوشنبه<!-- --> <!-- -->۲۹ مرداد ۱۴۰۳<!-- --> <!-- -->-</span>
                        <span class="main_timeSpan">13:<!-- -->59:28</span>
                    </div>
                </div>
            </div>
        <div class="banner-container">
            <div id="demo" class="carousel slide insider" data-bs-ride="carousel" data-bs-interval="4000">
                <!-- Indicators/dots -->
                <div class="carousel-indicators delete">
                  <button
                    type="button"
                    data-bs-target="#demo"
                    data-bs-slide-to="0"
                    class="active"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#demo"
                    data-bs-slide-to="1"
                  ></button>
                </div>
          
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="insidethebanner">
                            <div class="banner-img">
                            <img
                                src="{% static "img/headerImg2.webp" %}"
                                alt=""
                                class="img-banner-laptop"
                            />
                            <img
                                src="{% static "img/headerImgSmall2.webp" %}"
                                alt=""
                                class="img-banner-laptop-sm"
                            />
                            </div>
                            <div class="banner-content">
                                <h1 class="banner-title">
                                    خرید <span class="gold-goldy"> طلا </span>از شما
                                </h1>
                                <h1 class="banner-title">امنیت و نگهداریش با ما</h1>
                                <div class="btn-banner-container d-grid">
                                    <a href="login.html" class="d-grid">
                                    <button class="banner-btn btn btn-block">
                                        ورود و ثبت نام با شماره موبایل
                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="insidethebanner">
                            <div class="banner-img">
                            <img
                                src="{% static "img/headerImg1.webp" %}"
                                alt=""
                                class="img-banner-phone"
                            />
                            <img
                                src="{% static "img/download.webp" %}"
                                alt=""
                                class="img-banner-phone-sm"
                            />
                            </div>
                            <div class="banner-content">
                                <h1 class="banner-title">
                                    معامله<span class="gold-goldy"> طلا </span>بدون اجرت
                                </h1>
                                <h1 class="banner-title">آنلاین و راحت</h1>
                                <div class="btn-banner-container d-grid">
                                    <a href="login.html" class="d-grid">
                                    <button class="banner-btn btn btn-block">
                                        ورود و ثبت نام با شماره موبایل
                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
                <!-- Left and right controls/icons -->
                <button
                  class="carousel-control-prev delete"
                  type="button"
                  data-bs-target="#demo"
                  data-bs-slide="prev"
                >
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button
                  class="carousel-control-next delete"
                  type="button"
                  data-bs-target="#demo"
                  data-bs-slide="next"
                >
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div>
        </div>
    </header>
    <section class="main-buy-container">
        <div class="buy-content row">
            <div class="buy-right col-md-12 col-lg-6">
                <h2 class="page-title main_sectionTitle">کم کم طلا پس انداز کن</h2>
                <h1 class="main_subtitle">طلاسی | پلتفرم خرید و فروش طلای آب شده</h1>
                <span class="main_sectionDescription">خرید طلای بدون اجرت حتی با ۱۰۰ هزار تومان به صورت ۲۴ ساعته و تحویل فیزیکی طلا</span>
                <div class="buy-actionshow">
                    <div class="input-container-buy">
                        <div class="input-content main_irtInputContent">
                            <input type="text" inputmode="decimal" decimal-char="." value="0.028">
                            <span>گرم</span>
                        </div>
                    </div>
                    <div class="buy-gold-button">
                        <button>
                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.68859 2.83301V14.1663M14.4807 8.49967H2.89648" stroke="currentColor" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round"></path>
                            </svg>
                        </button>
                        <div class="main_insideTexts">
                            <input type="tel" value="100,000">
                            <span class="main_irtText">تومان</span>
                        </div>
                        <button>
                            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.4807 8.5H2.89648" stroke="currentColor" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <button class="gold-button main_sectionButton btn">ثبت نام و خرید</button>
            </div>
            <div class="buy-left col-md-12 col-lg-6">
              <div class="video">
                <img src="{% static "img/Untitled.png" %}" alt="" class="video img-fluid">
              </div>
            </div>
        </div>
    </section>
    <section class="main-question row">
        <h5 class="whytala ">چرا طلاسی ؟</h5>
        <div class="main-item-container row">
            <div class="col-lg-6 col-12">
                <div class="main_itemContent3 question-contain">
                    <div class="main_mainImg">
                        <img alt="خرید و فروش طلا با هر میزان مبلغ" loading="lazy" width="64" height="86" decoding="async" data-nimg="1" class="main_light__5d0Hb" style="color:transparent" src="{% static "img/question1.webp" %}">
                    </div>
                    <div class="main_textsContainer">
                        <h2 class="main_subject">خرید و فروش آنلاین طلا با هر میزان مبلغ</h2>
                        <span class="main_sectionDescription">در طلاسی امکان خرید و فروش طلا با هر مبلغی (حداقل 100 هزار تومان) امکان پذیر می‌باشد.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 ">
                <div class="main_itemContent3 question-contain">
                    <div class="main_mainImg">
                        <img alt="خرید و فروش طلا با هر میزان مبلغ" loading="lazy" width="64" height="86" decoding="async" data-nimg="1" class="main_light__5d0Hb" style="color:transparent" src="{% static "img/question2.webp" %}">
                    </div>
                    <div class="main_textsContainer">
                        <h2 class="main_subject">پس انداز طلا</h2>
                        <span class="main_sectionDescription">با خرید اندک اندک طلا می‌توانید پس انداز طلا داشته باشید و ارزش دارایی خودتان را حفظ کنید.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="main_itemContent3 question-contain">
                    <div class="main_mainImg">
                        <img alt="خرید و فروش طلا با هر میزان مبلغ" loading="lazy" width="64" height="86" decoding="async" data-nimg="1" class="main_light__5d0Hb" style="color:transparent" src="{% static "img/question3.webp" %}">
                    </div>
                    <div class="main_textsContainer">
                        <h2 class="main_subject">امنیت سپرده‌ گذاری طلا</h2>
                        <span class="main_sectionDescription">دارایی طلای شما به صورت کاملاً امن و بیمه شده در خزانه‌های طلاسی نگهداری خواهد شد.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 ">
                <div class="main_itemContent3 question-contain">
                    <div class="main_mainImg">
                        <img alt="خرید و فروش طلا با هر میزان مبلغ" loading="lazy" width="64" height="86" decoding="async" data-nimg="1" class="main_light__5d0Hb" style="color:transparent" src="{% static "img/question4.webp" %}">
                    </div>
                    <div class="main_textsContainer">
                        <h2 class="main_subject">خرید آنلاین طلا بدون اجرت</h2>
                        <span class="main_sectionDescription">طلاسی خرید و فروش آنلاین و آسان طلای بدون اجرت را برای شما فراهم کرده‌است.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="main_itemContent3 pt-3 question-contain2">
                    <div class="main_mainImg">
                        <img alt="خرید و فروش طلا با هر میزان مبلغ" loading="lazy" width="64" height="86" decoding="async" data-nimg="1" class="main_light__5d0Hb" style="color:transparent" src="{% static "img/question5.webp" %}">
                    </div>
                    <div class="main_textsContainer">
                        <h2 class="main_subject">کارت هدیه لوکس طلا</h2>
                        <span class="main_sectionDescription">با کارت هدیه طلاسی , برای هر مناسبتی می‌توانید یه کارت هدیه طلا به مبلغ دلخواه خریداری کنید.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="main_itemContent3 pt-3">
                    <div class="main_mainImg">
                        <img alt="خرید و فروش طلا با هر میزان مبلغ" loading="lazy" width="64" height="86" decoding="async" data-nimg="1" class="main_light__5d0Hb" style="color:transparent" src="{% static "img/question6.webp" %}">
                    </div>
                    <div class="main_textsContainer">
                        <h2 class="main_subject">تحویل فیزیکی طلا</h2>
                        <span>شما می‌توانید به راحتی دارایی طلای خود رو به صورت فیزیکی تحویل بگیرید.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-posi">
        <div class="posi-contianer">
            <h2 class="whytala">امکانات طلاسی</h2>
            <div class="posi-body row">
                <div class="col-lg-3 col-sm-6 col-12 posi-box">
                    <div class="posi-box-img">
                        <img src="{% static "img/possibility1.svg" %}" alt="">
                    </div>
                    <div class="posi-box-title">
                        <h2>خرید آنلاین طلای آب شده</h2>
                    </div>
                    <div class="posi-box-text">
                        <span>خرید و فروش امن
                            <br>
                            آسان و آنی طلا</span>
                    </div>
                    <div class="main_itemLink">
                        <span>بیشتر</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 posi-box">
                    <div class="posi-box-img">
                        <img src="{% static "img/possibility2.svg" %}" alt="">
                    </div>
                    <div class="posi-box-title">
                        <h2>تحویل فیزیکی طلا</h2>
                    </div>
                    <div class="posi-box-text">
                        <span>دریافت طلا
                            <br>
                            به صورت فیزیکی</span>
                    </div>
                    <div class="main_itemLink">
                        <span>بیشتر</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 posi-box">
                    <div class="posi-box-img">
                        <img src="{% static "img/possibility3.svg" %}" alt="">
                    </div>
                    <div class="posi-box-title">
                        <h2>کارت هدیه طلا</h2>
                    </div>
                    <div class="posi-box-text">
                        <span>کارت هدسه طلاسی
                            <br>
                            هدیه زیبا به مبلغ دلخواه</span>
                    </div>
                    <div class="main_itemLink">
                        <span>بیشتر</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 posi-box">
                    <div class="posi-box-img">
                        <img src="{% static "img/possibility4.svg" %}" alt="">
                    </div>
                    <div class="posi-box-title">
                        <h2>پشتیبانی 24 ساعته</h2>
                    </div>
                    <div class="posi-box-text">
                        <span>پشتیبانی 24 ساعته
                            <br>
                            در 7 روز هفته</span>
                    </div>
                    <div class="main_itemLink">
                        <span>بیشتر</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mid-banner">
        <div class="midbanner-back">
            <div class="midbanner-container row">
                <div class="midbanner-img col-12 col-sm-6">
                    <img src="{% static "img/middleBanner.webp" %}" alt="">
                </div>
                <div class="midbanner-char col-12 col-sm-6">
                    <h2 class="mid-banner-h2">امن ترین جا برای پس انداز طلا</h2>
                    <button class="mid-banner-btn btn"><span>ثبت نام در طلاسی</span><img src="{% static "img/arrow-left.svg" %}" alt=""></button>
                </div>
            </div>
        </div>
    </section>
    <section class="mid-market">
        <div class="midmarket-right">
            <h3 class="main_sectionTitle">تحلیل بازار طلا</h3>
            <span class="main_sectionDescription">با بررسی و تحلیل روند قیمتی طلا در بازار، می‌توانید در زمان و قیمت مناسب، اقدام به خرید و فروش آنی طلای خود کنید.</span>
            <div class="user-chart_top">
                <div class="user-chart_right nigger">
                    <div class="user-chart_times">
                        <span class="user-chart_active user-chart_timeText user-chart_active">24 ساعت</span>
                        <span class="user-chart_timeText">7 روزه</span>
                        <span class="user-chart_timeText">یک ماه</span>
                    </div>
                </div>
            </div>
            <div class="mid-market-img-sm">
                <img src="{% static "img/nemoodar.png" %}" alt="" class="img-fluid">
            </div>
            <div class="main_bottom">
                <div class="main_bottomButton">
                    <button class="gold-button main_sectionButton btn">
                        <img alt="تحلیل بازار طلا" loading="lazy" width="24" height="24" decoding="async" data-nimg="1" style="color:transparent" src="{% static "img/chart.svg" %}">
                        <span>همین الان شروع کن!</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="midmarket-left">
            <div class="user-chart_top nigga2">
                <div class="user-chart_right">
                    <div class="user-chart_times">
                        <span class="user-chart_active user-chart_timeText user-chart_active">24 ساعت</span>
                        <span class="user-chart_timeText">7 روزه</span>
                        <span class="user-chart_timeText">یک ماه</span>
                    </div>
                    <div class="main-market-img">
                        <img src="{% static "img/nemoodar.png" %}" alt="" class="nemoodar img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mid-purchase">
        <h3 class="page-title-purchase">شمش های طلا</h3>
        <div class="main-item-purchase row">
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/150.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/150.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/150.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1gz.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1gz24.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/2_5gz.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/5gz.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
            <div class="main-item col-6 col-sm-4 col-md-3">
                <div class="main_itemImg__ktn7Q">
                    <img alt="پارسیان 30 سوتی" loading="lazy" decoding="async" data-nimg="1" style="color:transparent" src="media/img/20gz24.webp" class="img-fluid">
                </div>
                <div class="main_itemTexts">
                    <span>پارسیان 30 سوتی</span>
                    <span>126,323<!-- --> تومان</span>
                </div>
                <div class="main_button d-grid">
                    <button class="gold-button-purchase btn btn-block">خرید</button>
                </div>
            </div>
        </div>
    </section>
    <section class="main-giftcard">
        <div class="gift-card-container">
            <div class="giftcard-right">
                <h3 class="page-title main_sectionTitle">کارت هدیه طلا</h3>
                <div class="main_itemContent-sm">
                    <img alt="کارت هدیه طلا" loading="lazy" width="401" height="281" decoding="async" data-nimg="1" style="color:transparent"  src="{% static "img/giftCard.webp" %}">
                    <span>کارت هدیه طلاسی</span>
                </div>
                <span class="main_sectionDescription yahoo">با کارت‌های هدیه لوکس زیبا و ارزشمند طلاسی می‌توانید بهترین هدیه‌ها را به عزیزان خود بدهید. کارت‌های هدیه طلای طلاسی در هر وزن و رنگی به دلخواه شما قابل ارایه خواهد بود.</span>
                <div class="main_bottomButton">
                    <button class="gold-button main_sectionButton btn">ثبت سفارش</button>
                </div>
            </div>
            <div class="giftcard-left">
                <div class="main_itemContent">
                    <img alt="کارت هدیه طلا" loading="lazy" width="401" height="281" decoding="async" data-nimg="1" style="color:transparent" src="{% static "img/giftCard.webp" %}">
                    <span>کارت هدیه طلاسی</span>
                </div>
            </div>
        </div>
        <img src="media/img/giftCardBack.svg" alt="" class="back-gift">
    </section>
    <section class="main-invite">
        <div class="main_inviteContent">
            <div class="main_inviteRight">
                <h4 class="page-title main_sectionTitle">دعوت از دوستان</h4>
                <div class="main_inviteLeft main_smallPicture">
                    <img alt="دعوت از دوستان" loading="lazy" width="403" height="377" decoding="async" data-nimg="1" style="color:transparent" src="{% static "img/invite.webp" %}">
                </div>
                <span class="main_sectionDescription yahoo">با معرفی طلاسی به دوستان خود و احراز هویت آنان در پلتفرم ما، بخشی از کارمزد معاملات آن‌ها به شما تعلق گرفته و به راحتی می‌توانید کسب درآمد کنید.</span>
                <div class="main_bottomButton">
                    <button class="gold-button main_sectionButton btn">
                        <img alt="دعوت از دوستان به طلاسی" loading="lazy" width="30" height="30" decoding="async" data-nimg="1" style="color:transparent" src="{% static "img/userPlus.svg" %}">
                        <span>دعوت از دوستان</span>
                    </button>
                </div>
            </div>
            <div class="main_inviteLeft main_bigPicture">
                <img alt="دعوت از دوستان" loading="lazy" width="403" height="377" decoding="async" data-nimg="1" style="color:transparent" src="{% static "img/invite.webp" %}">
                <svg width="606" height="344" viewBox="0 0 606 344" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.25" d="M25.3848 344C-23.8617 273.799 4.2449 203.214 60.9813 163.151C118.662 122.424 53.5448 38.1841 168.352 3.9004C227.742 -13.833 279.97 34.5331 338.183 36.6277C390.345 38.5089 444.306 -4.14325 497.277 15.6143C532.694 26.9889 568.1 58.9089 565.458 97.069C564.094 116.79 552.013 140.136 564.523 155.12C617.312 218.351 611.874 273.665 591.184 343.096L25.3848 344Z" fill="currentColor">

                    </path>
                </svg>
            </div>
        </div>
    </section>
    <section class="main-investment">
        <div class="main-investment-content">
            <div class="investment-right">
                <h2 class="page-title main_sectionTitle">مقایسه سود سرمایه گذاری طلا</h2>
                <span class="main_investmentDescription">با وارد کردن مبلغ سرمایه خود، میزان سود سرمایه گذاری در طلا را در قیاس با سپرده بانکی در یک بازه ۵ ساله، می‌توانید مشاهده کنید.</span>
                <div class="main_investmentBox">
                    <span class="main_subject2">مبلغ سرمایه‌گذاری(میلیون تومان)</span>
                    <input type="tel" value="1">
                </div>
                <div class="main_inputContainer">
                    <div class="main_contents">
                        <div class="main_back">
                            <div class="main_left"></div>
                            <div class="main_right"></div>
                        </div>
                        <div class="main_leftDot main_active"></div>
                        <span class="main_leftText">1 میلیون تومان</span>
                        <div class="main_centerDot"></div>
                        <span class="main_centerText">50 میلیون تومان</span>
                        <div class="main_rightDot"></div>
                        <span class="main_rightText">100 میلیون تومان</span>
                    </div>
                </div>
                <div class="main_investmentBox">
                    <span class="main_subject2">سود سرمایه گذاری طلا(میلیون تومان)</span>
                    <span class="main_value">6.79</span>
                </div>
                <div class="main_investmentBox">
                    <span class="main_subject2">سود سپرده بانکی</span>
                    <span class="main_value">1.49</span>
                </div>
            </div>
            <div class="investment-left">
                <img alt="مقایسه سود سرمایه گذاری طلا" loading="lazy" width="468" height="425" decoding="async" data-nimg="1" style="color:transparent" src="{% static "img/investmentChart.webp" %}">
            </div>
        </div>
    </section>
    <section class="main-register">
        <h5 class="page-title main_sectionTitle yare">فرآیند ثبت‌نام در طلاسی</h5>
        <div class="main_itemsContainer2">
            <div class="main_firstItem">
                <div class="main_itemBox">
                    <div class="main_number">
                        <span>1</span>
                    </div>
                    <div class="main_text">
                        <span>تایید شماره همراه</span>
                    </div>
                    <div class="main_topImage">
                        <svg width="83" height="92" viewBox="0 0 83 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M71.9662 0.647949H21.7829C15.8469 0.647949 11.0293 5.34488 11.0293 11.1322V28.6059H18.1983V11.1322C18.1983 9.20308 19.8078 7.63743 21.7829 7.63743H71.9662C73.9413 7.63743 75.5507 9.20308 75.5507 11.1322V81.027C75.5507 82.9561 73.9413 84.5217 71.9662 84.5217H21.7829C19.8078 84.5217 18.1983 82.9561 18.1983 81.027V63.5533H11.0293V81.027C11.0293 86.8143 15.8469 91.5112 21.7829 91.5112H71.9662C77.9022 91.5112 82.7197 86.8143 82.7197 81.027V11.1322C82.7197 5.34488 77.9022 0.647949 71.9662 0.647949Z" fill="#FCD535"></path>
                            <path d="M28.9516 68.7956C28.9516 68.7956 25.3671 69.7776 25.3671 65.3008C25.3671 64.2873 25.3671 60.9079 25.3671 56.564H3.85991C1.88126 56.564 0.275391 54.9948 0.275391 53.0692V39.0903C0.275391 37.1647 1.88126 35.5955 3.85991 35.5955H25.3671C25.3671 31.4158 25.3671 28.0643 25.3671 26.7503C25.3671 22.0534 28.9516 23.3639 28.9516 23.3639L55.8355 46.0797L28.9516 68.7956Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="main_secondItem">
                <div class="main_itemBox">
                    <div class="main_number"
                    ><span>2</span>
                </div>
                <div class="main_text">
                    <span>تکمیل اطلاعات</span>
                </div><div class="main_topImage2">
                    <svg width="80" height="60" viewBox="0 0 80 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5586 41.065V39.2683C12.5586 36.8728 16.5513 34.4773 20.8512 33.579C20.8512 33.579 22.0797 32.9801 21.7726 31.7823C20.544 30.2851 20.2369 28.4885 20.2369 28.4885C19.9298 28.4885 19.6226 28.189 19.3155 27.8896C18.7012 27.2907 18.3941 25.7935 18.3941 24.8952C18.3941 23.9969 18.7012 24.2963 18.7012 23.9969C17.7799 21.9008 18.3941 19.2058 19.3155 17.4092C21.7726 13.5165 26.3796 14.7142 27.301 15.912C31.908 15.0137 31.6008 21.9008 30.9866 23.6974C30.9866 23.6974 31.2937 23.6974 31.2937 25.4941C31.2937 27.2907 29.758 28.189 29.758 28.189C29.758 28.7879 29.1438 29.9857 28.2224 31.1834C27.301 32.6806 29.1438 32.9801 29.1438 32.9801C33.4436 33.8784 37.4364 35.9745 37.4364 38.6694C37.4364 38.9689 37.4364 40.4661 37.4364 40.4661C37.4364 42.2627 30.9866 43.7599 25.151 43.7599C19.0084 44.3588 12.5586 43.7599 12.5586 41.065Z" fill="#FCD535"></path><path d="M43.2734 35.6733H67.8441H43.2734Z" fill="#FCD535"></path>
                        <path d="M43.2734 35.6733H67.8441" stroke="#FCD535" stroke-width="5" stroke-miterlimit="10"></path>
                        <path d="M43.2734 23.6943H67.8441" stroke="currentColor" stroke-width="5" stroke-miterlimit="10"></path>
                        <path d="M73.9882 8.72366H40.2036V5.72926C40.2036 3.93262 38.9751 2.73486 37.1323 2.73486H6.41898C4.57619 2.73486 3.34766 3.93262 3.34766 5.72926V53.6397C3.34766 55.4363 4.57619 56.6341 6.41898 56.6341H15.633V53.6397H21.7756V56.6341H58.6316V53.6397H64.7742V56.6341H73.9882C75.831 56.6341 77.0595 55.4363 77.0595 53.6397V11.7181C77.0595 9.92142 75.831 8.72366 73.9882 8.72366Z" stroke="currentColor" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round"></path>
                    </svg>
                </div>
            </div>
            <svg width="103" height="87" viewBox="0 0 103 87" fill="none" xmlns="http://www.w3.org/2000/svg" class="main_topBorder__6kSAv">
                <path d="M0.999999 87L0.999999 61.7699C1 28.2076 28.2076 1 61.7699 1L103 1" stroke="#FCD535" stroke-dasharray="10 10"></path>
            </svg><svg width="79" height="60" viewBox="0 0 79 60" fill="none" xmlns="http://www.w3.org/2000/svg" class="main_bottomBorder__2F21I">
                <path d="M0.999997 5.42402e-06V5.42402e-06C0.999999 32.5848 27.4152 59 60 59L79 59" stroke="#FCD535" stroke-dasharray="10 10"></path>
            </svg>
        </div>
        <div class="main_thirdItem">
            <div class="main_itemBox">
                <div class="main_number">
                    <span>3</span>
                </div>
                <div class="main_text">
                    <span>خرید و فروش طلا</span>
                </div>
                <div class="main_topImage3">
                    <svg width="113" height="75" viewBox="0 0 113 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M30.0532 41.7447C30.6746 41.1387 31.5176 40.7983 32.3965 40.7983C32.4027 40.7983 32.409 40.7984 32.4152 40.7984H39.0244H45.6331L45.6519 40.7983C46.5308 40.7983 47.3737 41.1387 47.9952 41.7447C48.281 42.0233 48.5092 42.3476 48.6723 42.7L48.6746 42.7014L48.6794 42.7154C48.7653 42.9036 48.8327 43.0996 48.8805 43.3009L52.0826 52.6243C52.2119 52.9731 52.2798 53.3442 52.2798 53.7222C52.2798 54.5791 51.9306 55.4009 51.3091 56.0068C50.6878 56.6126 49.845 56.953 48.9663 56.9531L48.9663 56.9532H39.0244H29.0825L29.0824 56.9531C28.2035 56.9531 27.3607 56.6127 26.7392 56.0068C26.1177 55.4009 25.7686 54.5791 25.7686 53.7222C25.7686 53.3394 25.8382 52.9637 25.9707 52.6111L29.167 43.3046C29.2151 43.1008 29.2833 42.9023 29.3705 42.712L29.3741 42.7014L29.3758 42.7003C29.539 42.3478 29.7673 42.0234 30.0532 41.7447Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M56.2963 41.7447C56.9178 41.1387 57.7607 40.7983 58.6396 40.7983C58.6459 40.7983 58.6521 40.7984 58.6584 40.7984H65.2675H71.8955H71.8958C72.7748 40.7984 73.6177 41.1388 74.2392 41.7447C74.5252 42.0235 74.7535 42.3481 74.9166 42.7007L74.9178 42.7014L74.9202 42.7084C75.0087 42.9011 75.0778 43.1021 75.1263 43.3085L78.3171 52.599C78.4525 52.9551 78.5238 53.3351 78.5238 53.7222C78.5238 54.5791 78.1746 55.4009 77.5531 56.0069C76.9316 56.6128 76.0887 56.9532 75.2098 56.9532H75.2094H65.2675H55.3256L55.3256 56.9531C54.4467 56.9531 53.6038 56.6127 52.9824 56.0068C52.3609 55.4009 52.0117 54.5791 52.0117 53.7222C52.0117 53.3395 52.0813 52.9638 52.2138 52.6113L55.4101 43.3045C55.4582 43.1008 55.5265 42.9024 55.6136 42.712L55.6173 42.7014L55.619 42.7003C55.7822 42.3478 56.0104 42.0234 56.2963 41.7447Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.1756 24.8532L61.1744 24.8525C61.0113 24.4999 60.783 24.1753 60.497 23.8965C59.8755 23.2906 59.0326 22.9502 58.1536 22.9502H58.1533H51.5253H44.8974L44.8974 22.9502C44.0185 22.9502 43.1756 23.2906 42.5541 23.8965C42.2683 24.1752 42.04 24.4996 41.8769 24.8521L41.8751 24.8532L41.8713 24.8641C41.7843 25.0543 41.7161 25.2525 41.668 25.4561L38.4712 34.764C38.339 35.1163 38.2695 35.4917 38.2695 35.874C38.2695 36.7309 38.6187 37.5528 39.2402 38.1587C39.8617 38.7646 40.7046 39.105 41.5835 39.105C41.5856 39.105 41.5877 39.105 41.5897 39.105H51.5253H61.4672H61.4676C62.3465 39.105 63.1895 38.7646 63.8109 38.1587C64.4324 37.5527 64.7816 36.7309 64.7816 35.874C64.7816 35.4869 64.7103 35.1069 64.5749 34.7508L61.3841 25.4603C61.3356 25.2539 61.2665 25.0529 61.178 24.8602L61.1756 24.8532Z" fill="#FCD535"></path>
                        <path d="M24.9683 25.7765L13.4915 36.9658L2 25.7622" stroke="#FCD535" stroke-width="4" stroke-miterlimit="10"></path>
                        <path d="M12.9707 34.7454V7.74854C12.9707 4.98711 15.2093 2.74854 17.9707 2.74854H39.4824" stroke="#FCD535" stroke-width="4"></path>
                        <path d="M87.8208 51.2118L99.2976 40.0224L110.789 51.2261" stroke="currentColor" stroke-width="4" stroke-miterlimit="10"></path>
                        <path d="M99.8184 40.7516L99.8184 67.7485C99.8184 70.51 97.5798 72.7485 94.8184 72.7485L73.3066 72.7485" stroke="currentColor" stroke-width="4"></path>
                    </svg>
                </div>
            </div>
        </div>
        <img alt="ثبت نام در طلاسی" loading="lazy" width="76" height="85" decoding="async" data-nimg="1" class="main_topLeft__hhgzO" style="color:transparent" src="{% static "img/registerGold.webp" %}">
        <img alt="ثبت نام در طلاسی" loading="lazy" width="48" height="52" decoding="async" data-nimg="1" class="main_bottomRight__ON8ek" style="color:transparent" src="{% static "img/registerGold.webp" %}">
    </div>
    </section>
    <section class="main-news">
        <h4 class="page-title main_sectionTitle">جدیدترین مقالات</h4>
        <div class="main-news-container row">
            <div class="news-box col-6 col-lg-4">
                <div class="main_sliderItem">
                    <a class="main_itemContent2" href="#">
                        <img alt="مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس" loading="lazy" width="390" height="215" decoding="async" data-nimg="1" style="color:transparent" src="media/img/fuckface.png">
                        <div class="main_date">
                            <span>۰۷ شهریور ۱۴۰۳</span>
                        </div>
                        <div class="main_itemTitle">
                            <h3>مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس</h3>
                        </div>
                        <div class="main_itemSubtitle">
                            <span>دریافت ارز خدماتی برای بسیاری از متقاضیان از اهمیت بالایی برخوردار است و ممکن است سوالاتی درباره نحوه دریافت این ارز از مرکز مبادله ارز و طلای ایران مطرح شود.</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-box col-6 col-lg-4">
                <div class="main_sliderItem">
                    <a class="main_itemContent2" href="#">
                        <img alt="مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس" loading="lazy" width="390" height="215" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1720253802919_fjdsfhdfsfrtwyrwher.webp">
                        <div class="main_date">
                            <span>۰۷ شهریور ۱۴۰۳</span>
                        </div>
                        <div class="main_itemTitle">
                            <h3>طلا و عشق (داستان‌های عاشقانه‌ای که روایت می‌شوند)</h3>
                        </div>
                        <div class="main_itemSubtitle">
                            <span> در این مقاله، به بررسی نقش طلا در داستان‌های عاشقانه مختلف می‌پردازیم و نشان می‌دهیم چگونه این فلز گران‌بها توانسته است در طول تاریخ به نمادی از عشق و وفاداری تبدیل شود.</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-box col-6 col-lg-4">
                <div class="main_sliderItem">
                    <a class="main_itemContent2" href="#">
                        <img alt="مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس" loading="lazy" width="390" height="215" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1720254864867_jfsfhsffsdfstyurr.webp">
                        <div class="main_date">
                            <span>۰۷ شهریور ۱۴۰۳</span>
                        </div><div class="main_itemTitle">
                            <h3>معرفی 10 برند برتر جواهرات طلا در ایران</h3>
                        </div>
                        <div class="main_itemSubtitle">
                            <span>در این مقاله به معرفی ۱۰ برند برتر جواهرات طلا در ایران می‌پردازیم.</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-box col-6 col-lg-4">
                <div class="main_sliderItem">
                    <a class="main_itemContent2" href="#">
                        <img alt="مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس" loading="lazy" width="390" height="215" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1724843620374_navasan.webp">
                        <div class="main_date">
                            <span>۰۷ شهریور ۱۴۰۳</span>
                        </div><div class="main_itemTitle">
                            <h3>آشنایی با ابزار‌های مورد نیاز نوسانگیری طلا</h3>
                        </div>
                        <div class="main_itemSubtitle">
                            <span>بازار طلا یکی از جذاب‌ترین بازارهای مالی است که با استفاده از نوسان‌گیری می‌توان به سودآوری قابل‌توجهی دست یافت. اما چگونه می‌توان در این بازار نوسان‌گیری کرد و چه نکاتی را باید مد نظر داشت؟</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-box col-6 col-lg-4">
                <div class="main_sliderItem">
                    <a class="main_itemContent2" href="#">
                        <img alt="مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس" loading="lazy" width="390" height="215" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1720338672141_comparison-of-investment-in-stock-market-and-gold.webp">
                        <div class="main_date">
                            <span>۰۷ شهریور ۱۴۰۳</span>
                        </div><div class="main_itemTitle">
                            <h3>مقایسه سرمایه‌ گذاری بورس و طلا + نکاتی که باید بدانید</h3>
                        </div>
                        <div class="main_itemSubtitle">
                            <span>سرمایه گذاری در بورس بهتر است یا طلا؟ خرید طلا سود بیشتری به همراه دارد یا سهام بورس؟ مزایا و معایب سرمایه گذاری در بورس و طلا چیست؟ بازار بورس و بازار طلا دو گزینه مهم جهت سرمایه گذاری با هدف حفظ ارزش داراییها و کسب سود است.</span>                        </div>
                    </a>
                </div>
            </div>
            <div class="news-box col-6 col-lg-4">
                <div class="main_sliderItem">
                    <a class="main_itemContent2" href="#">
                        <img alt="مرکز مبادله ارز و طلای ایران، نحوه خرید و ثبت نام + آدرس" loading="lazy" width="390" height="215" decoding="async" data-nimg="1" style="color:transparent" src="media/img/1720265683958_what-is-a-maskoucut-gold.webp">
                        <div class="main_date">
                            <span>۰۷ شهریور ۱۴۰۳</span>
                        </div>
                        <div class="main_itemTitle">
                            <h3>مسکوکات طلا چیست؟ آشنایی با اصطلاح مسکوک طلا</h3>
                        </div>
                        <div class="main_itemSubtitle">
                            <span>شاید شما هم در بازار طلا عبارت یا اصطلاح مسکوکات طلا را شنیدهاید اما معنی آن را نمیدانید. به سکه های طلا تولید شده توسط دولت یا بانک مرکزی هر کشور، مسکوکات طلا گفته میشود.</span>                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="main_moreButton"><a class="gold-button2 btn" href="#">مطالب بیشتر</a></div>
    </section>
    <section class="bodymain-containerland">
        <div class="main_why">
            <h2 class="page-title main_secondTitle5">طلاسی: بهترین و معتبرترین سایت خرید و فروش طلای آب شده</h2>
            <h2 class="page-title main_secondTitle5">چرا خرید طلای آب شده؟</h2>
            <p class="page-description main_topDescription">در شرایطی که تورم و نوسانات اقتصادی زندگی را تحت تاثیر قرار می‌دهند، داشتن یک روش سرمایه‌گذاری امن و با ریسک کم اهمیت زیادی دارد. طلا همواره به عنوان یک دارایی ارزشمند و مقاوم در برابر تورم شناخته شده است و جایگاه ویژه‌ای در سبد دارایی‌های مردم دارد. با پیشرفت تکنولوژی و رشد بازارهای آنلاین، فرصت‌های جدیدی برای خرید و فروش طلای آب شده به صورت آنلاین فراهم شده است.</p>
            <ul class="main_itemsfl">
                <li class="main_item8">
                    <h3>امنیت و تضمین اصالت:</h3>
                    <p>طلای خریداری شده از طلاسی کاملاً امن و دارای تضمین اصالت است. هر قطعه طلا به صورت شناسنامه‌دار و با کد انگ معتبر ارائه می‌شود.</p>
                </li><li class="main_item8">
                    <h3>نقدشوندگی بالا:</h3>
                    <p>امکان خرید و فروش آنی طلای آب شده به شما اجازه می‌دهد تا سرمایه‌گذاری خود را به سرعت به نقد تبدیل کنید.</p>
                </li>
                <li class="main_item8">
                    <h3>تحویل فیزیکی آسان:</h3>
                    <p>در هر زمان که بخواهید، می‌توانید طلای فیزیکی خریداری شده خود را به صورت قطعات شناسنامه‌دار یا انواع سکه تحویل بگیرید.</p>
                </li>
                <li class="main_item8">
                    <h3>فرایند سریع و ساده:</h3>
                    <p>خرید طلای آب شده در طلاسی بسیار سریع و بدون دردسر انجام می‌شود.</p>
                </li>
                <li class="main_item8">
                    <h3>بدون اجرت:</h3>
                    <p>خرید طلا در طلاسی هیچ‌گونه اجرتی ندارد و شما بدون پرداخت هزینه‌های اضافی مانند اجرت و با کمترین کارمزد ، طلا را خریداری می‌کنید.</p>
                </li>
                <li class="main_item8">
                    <h3>خرید و فروش شبانه‌روزی:</h3>
                    <p>شما می‌توانید در هر لحظه از شبانه‌روز، به راحتی طلای آب شده خرید و فروش کنید.</p>
                </li>
                <li class="main_item8">
                    <h3>نمودارهای قیمتی دقیق:</h3>
                    <p>با استفاده از نمودارهای قیمتی دقیق و به‌روز، شما می‌توانید روند قیمتی طلا را مشاهده کرده و بهترین زمان برای خرید یا فروش را انتخاب کنید.</p></li><li class="main_item8">
                        <h3>سفارش با قیمت مشخص:</h3>
                        <p>امکان ثبت سفارش با قیمت مشخص به شما این اجازه را می‌دهد تا بدون نیاز به نظارت مداوم بر بازار، به قیمت دلخواه خود طلا خرید و فروش کنید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>بدون ریسک تقلب:</h3>
                        <p>خرید طلا در طلاسی هیچ ریسک خرید طلای تقلبی را به همراه ندارد.</p>
                    </li>
                    <li class="main_item8">
                        <h3>بدون حباب:</h3>
                        <p>طلای ما هیچ‌گونه حباب قیمتی ندارد.</p>
                    </li>
                    <li class="main_item8">
                        <h3>بدون ریسک سرقت:</h3>
                        <p>خرید طلا در طلاسی هیچ ریسک سرقت و هزینه نگهداری ندارد.</p>
                    </li>
                    <li class="main_item8">
                        <h3>میزان خرید دلخواه:</h3>
                        <p>شما می‌توانید در هر مقدار دلخواه طلا خرید و فروش کنید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>بدون محدودیت سرمایه:</h3>
                        <p>هیچ محدودیتی برای میزان سرمایه‌گذاری وجود ندارد و می‌توانید با اعداد پایین هم طلا خریداری کنید.</p>
                    </li>
                    <li class="main_item8">
                        <h3>پشتیبانی 24 ساعته:</h3>
                        <p>تیم پشتیبانی طلاسی در تمامی روزهای هفته به صورت 24 ساعته آماده پاسخگویی به سوالات و مشکلات شما است.</p>
                    </li>
                </ul>
                <h2 class="page-title main_secondTitle5">شروع سرمایه‌گذاری در طلای آب شده با طلاسی</h2>
                <p class="page-description main_topDescription">برای شروع یک سرمایه‌گذاری امن و هوشمندانه، همین حالا در طلاسی، بهترین سایت خرید و فروش طلا، ثبت‌نام کنید و از مزایای خرید و فروش طلای آب شده آنلاین بهره‌مند شوید. طلاسی به عنوان پرطرفدارترین سایت و معتبرترین سایت خرید و فروش طلای آب شده، تجربه‌ای بی‌نظیر از خرید طلا را به شما ارائه می‌دهد و سرمایه شما را در مقابل نوسانات بازار محافظت می‌کند.</p>
            </div>
        <div class="main-collapse">
            <h2 class="page-title main_secondTitle5 babaya">مزایای خرید و فروش طلای آب شده آنلاین در طلاسی</h2>
            <ul class="main_itemsfl" id="accordion">
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#one">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>چرا باید طلای آب شده را از طلاسی خریداری کنیم؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="one" >
                        <p>طلاسی به عنوان بهترین و معتبرترین سایت خرید و فروش طلای آب شده بدون اجرت، مزایای فراوانی مانند امنیت و تضمین اصالت طلا، نقدشوندگی بالا، تحویل فیزیکی آسان، فرایند سریع و ساده، و پشتیبانی 24 ساعته ارائه می‌دهد. همچنین، طلاسی ابزارهای پیش‌بینی قیمت با فناوری‌های نوین و نمودارهای قیمتی دقیق را برای کمک به شما در تصمیم‌گیری‌های سرمایه‌گذاری فراهم کرده است.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#two">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>چگونه می‌توانم از طلاسی طلای آب شده بخرم؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="two">
                        <p>برای خرید طلای آب شده از طلاسی، ابتدا در سایت ثبت‌نام کنید و سپس به صفحه خرید طلای آب شده بروید. می‌توانید میزان طلای مورد نظر خود را انتخاب کرده و پس از تأیید، فرآیند پرداخت را تکمیل کنید. طلاسی امکان ثبت سفارش با قیمت مشخص را نیز فراهم کرده است.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#three">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>آیا می‌توانم طلای آب شده خود را به صورت فیزیکی دریافت کنم؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="three">
                        <p>بله، شما می‌توانید در هر زمانی که بخواهید، طلای خریداری شده خود را به صورت فیزیکی در قالب شمش ۱۸ یا ۲۴ عیارشناسنامه‌دار تحویل بگیرید. طلاسی اصالت و کیفیت طلای تحویل داده شده خود را تضمین می‌دهد.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#four">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>چه تضمینی برای اصالت طلای خریداری شده از طلاسی وجود دارد؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="four">
                        <p>تمامی شمش‌های طلای خریداری شده از طلاسی دارای شناسنامه معتبر و پک‌هایی با ضریب امنیتی بالا می‌باشند. طلاسی با استفاده از آزمایشگاه‌های معتبر، اصالت و کیفیت طلا را تضمین می‌کند و شما می‌توانید با اطمینان کامل از خرید خود لذت ببرید.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#five">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>آیا می‌توانم طلای آب شده خود را در هر زمانی بفروشم؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="five">
                        <p>بله، شما می‌توانید در هر لحظه از شبانه‌روز، طلای آب شده خود را در طلاسی بفروشید. فرآیند فروش سریع و ساده است و شما می‌توانید به راحتی دارایی طلای خود را به وجه نقد تبدیل کنید.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#six">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>آیا خرید طلا از طلاسی شامل مالیات می‌شود؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="six">
                        <p>خیر، خرید طلا در طلاسی هیچ‌گونه مالیاتی ندارد و شما بدون پرداخت هزینه‌های اضافی مانند اجرت و مالیات، طلا خریداری می‌کنید.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#seven">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>چگونه می‌توانم قیمت‌های لحظه‌ای طلا را در طلاسی مشاهده کنم؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="seven">
                        <p>شما می‌توانید با مراجعه به سایت طلاسی، نمودارهای لحظه‌ای قیمت طلا را مشاهده کنید. طلاسی نمودارهای دقیقی  برای پیش‌بینی نوسانات قیمت لحظه‌ای طلا را فراهم کرده است.</p>
                    </div>
                    <div class="border"></div>
                </li>
                <li class="main_item10">
                    <div class="main_topItem">
                        <a class="mamamiya" data-bs-toggle="collapse" href="#eight">
                            <div class="main_plusContainer">
                                <div></div>
                                <div class="main_second"></div>
                            </div>
                            <h2>آیا طلاسی خدمات پشتیبانی ارائه می‌دهد؟</h2>
                        </a>
                    </div>
                    <div class="main_bottomItem collapse " id="eight">
                        <p>بله، تیم پشتیبانی طلاسی در تمامی روزهای هفته به صورت 24 ساعته و به صورت آنی آماده پاسخگویی به سوالات و مشکلات شما است. شما می‌توانید از طریق تماس تلفنی و چت آنلاین با ما در ارتباط باشید.</p>
                    </div>
                </li>
            </ul>
        </div>
</section>
{% endblock content %}