{% extends "base_login.html" %}
{% load static %}
{% block content %}
    <div class="main container-fluid">
      <div class="rightpage">
        <div class="inforight">
          <span class="span-info">ورود به پروفایل کاربری</span>
        </div>
        <div class="form">
          <a href="#">
            <img src="{% static "img/logo.svg" %}" alt="talasealogo" class="logo" />
          </a>
          <div class="input-form">
            <span class="span-850">ورود به پروفایل کاربری</span>
            <div class="input-container">
              <span class="label-input">شماره تلفن همراه </span>
              <div class="input-content">
                <input
                  type="tel"
                  maxlength="14"
                  placeholder="لطفا شماره موبایل خود را وارد کنید"
                  class="input-context"
                />
              </div>
            </div>
            <div class="btn-container d-grid w-100">
              <button class="btn btn-block btn-log">مرحله بعد</button>
            </div>
          </div>
        </div>
      </div>
      <div class="leftpage">
        <div class="img-container">
          <img src="{% static "img/Untitled-1.png" %}" alt="" class="img-talasea" />
        </div>
        <div class="content-login">
          <h1 class="account_subject">
            طلاسی، پلتفرم خرید و فروش طلا بدون اجرت
          </h1>
          <h2 class="account_description">
            با قبول تمامی قوانین و مقررات در طلاسی، ثبت نام را انجام می‌دهم.
          </h2>
          <h2 class="account_description">
            طلاسی، بستر آنلاین خرید و فروش طلا
          </h2>
        </div>
      </div>
    </div>
{% endblock content %}
    <div class="widget-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
        <path
          d="M60.19,53.75a3,3,0,1,0,3.06,3A3,3,0,0,0,60.19,53.75Zm-11.37,0a3,3,0,1,0,3.06,3A3,3,0,0,0,48.81,53.75Zm45.94,4A35,35,0,1,0,52.75,92v12.76s14.55-4.25,30.53-19.28C94.68,74.74,94.75,59.41,94.75,59.41l0,0C94.74,58.87,94.75,58.3,94.75,57.72Zm-10.14.6s0,10.64-8,18.09A57.93,57.93,0,0,1,53,89.8V80.34A24.29,24.29,0,1,1,84.61,57.16c0,.4,0,.8,0,1.19ZM70.69,53.75a3,3,0,1,0,3.06,3A3,3,0,0,0,70.69,53.75Z"
          transform="translate(0.25 0.25)"
          style="fill: #ffffff"
        ></path>
      </svg>
    </div>
    <div class="bell-container">
      <img src="{% static "img/bell.svg" %}" alt="" class="bell" />
    </div>
    <script src="{% static "js/bootstrap.js" %}"></script>
