{% load static %}
<nav class="nav">
  <div class="nav-bar">
    <div class="nav-right">
      <a href="{% url "home" %}">
        <img src="{% static "img/logo.svg" %}" alt="logo talasea" class="logo"
        />
      </a>
      <a href="{% url "home" %}">
        <img src="{% static "img/logo-sm.svg" %}" alt="logo talasea"
        class="logo-sm" />
      </a>
      <div class="nav-navitem">
        <a href="{% url 'blogs' %}" class="nav-item">
          <span>خانه</span>
      </a>
        <a href="{% url 'آموزش خرید و فروش طلا' %}" class="nav-item">
            <span>آموزش خرید و فروش طلا</span>
        </a>
        <a href="{% url 'سرمایه گذاری با طلا' %}" class="nav-item">
            <span>سرمایه گذاری با طلا</span>
        </a>
        <a href="{% url 'بورس و بازار جهانی' %}" class="nav-item">
            <span>بورس و بازار جهانی</span>
        </a>
        <a href="{% url 'دانستنی طلا' %}" class="nav-item">
            <span>دانستی طلا</span>
        </a>
        <a href="{% url 'سکه طلا' %}" class="nav-item">
            <span>سکه طلا</span>
        </a>
    </div>    
    </div>
    <div class="nav-left">
      <img src="{% static "img/Screenshot 2024-08-19 110423.png" %}" alt=""
      class="darkmode" />
      <div class="nav-divider"></div>
      {% if not user.is_authenticated %}
        <a href="{% url "login" %}" class="login">
          <button class="btn btn-nav">
            <img src="{% static "img/login.svg" %}" alt="" class="img-login" />
            <span class="login-span">ورود</span>
          </button>
        </a>
        <a href="{% url "login" %}">
          <button class="btn btn-nav btn-nav-reg">
            <img src="{% static "img/signUp.svg" %}" alt="" class="img-login" />
            <span class="login-span">ثبت نام</span>
          </button>
        </a>
      {% endif %}
      {% if user.is_authenticated %}
      <a href="{% url "logout" %}">
        <button class=" outlineBtn">
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="md:w-4"><path d="M9.99967 10.0703C12.3009 10.0703 14.1663 8.20485 14.1663 5.90367C14.1663 3.60248 12.3009 1.737 9.99967 1.737C7.69849 1.737 5.83301 3.60248 5.83301 5.90367C5.83301 8.20485 7.69849 10.0703 9.99967 10.0703Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17.1585 18.4036C17.1585 15.1786 13.9501 12.5703 10.0001 12.5703C6.05013 12.5703 2.8418 15.1786 2.8418 18.4036" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          <span class="login-span">خروج از حساب</span>
        </button>
      </a>
      {% endif %} 
    </div>
  </div>
</nav>
