{% extends "base_blog.html" %} {% block content %} {% load static %}
<div class="big-container">
  <div class="bigin">
    <img alt="مقالات مربوط به آموزش خرید و فروش طلا" loading="lazy" width="1600"
    height="478" decoding="async" data-nimg="1" class="big_img" src="{% static "img/profit.webp" %}" style="color: transparent" />
    <h1 class="title_blog">بورس و بازار جهانی</h1>
    <h2 class="dis_blog">
        آشنایی با تعاملات دنیای بورس و بازار طلا و تشریح تاثیر پذیری و روابط آن‌ها با همدیگر
    </h2>
  </div>
</div>
  <section class="wp-page-container">
    <div class="wp-page-content">
      <div class="allArticles_recentArticles">
        <div class="sectionTitle_sectionTopTitle">
          <h3>آخرین مطالب</h3>
          <div class="sectionTitle_titleDot"></div>
          <div class="sectionTitle_titleLines">
            <div class="sectionTitle_titleLine"></div>
            <div class="sectionTitle_titleLine"></div>
          </div>
        </div>
        <div class="allArticles_recentArticlesBody">
          <div class="allArticles_allArticles">
            <div class="allArticles_allArticlesContent">
              {% for blog in latest %}
              <div class="allArticles_contentContainer__BqTNO">
                <article class="allArticles_content__F1GyD">
                  <a
                    class="allArticles_imgContent__vW18z"
                    href="{% url "blog" blog.blogid %}"
                    ><img
                      alt="{{blog.title}}"
                      loading="lazy"
                      width="312"
                      height="244"
                      decoding="async"
                      data-nimg="1"
                      class="efect-img"
                      src="{{blog.blog_image.url}}"
                      style="color: transparent"
                  /></a>
                  <div class="allArticles_contentTexts__IJt4L">
                    <a class="main_categoryLink" href="/mag/facts"
                      >{{blog.subject}}</a
                    >
                    <h2 class="main_title__LBSV_">
                      <a
                        href="{% url "blog" blog.blogid %}"
                        class="underline-hover-effect2"
                        >{{blog.title}}</a
                      >
                    </h2>
                    <ul class="moreItem_moreData">
                      <div class="moreItem_moreDataContent__dF8j_">
                        <a
                          class="moreItem_moreDataItem__pSgI3"
                          href="/mag/@marzieh"
                          ><span>توسط</span
                          ><span class="moreItem_author2">{{blog.author.name}}</span></a
                        >
                      </div>
                      <div class="moreItem_moreDataContent__dF8j_">
                        <li class="moreItem_moreDataItem__pSgI3">
                          <img
                            alt="تاریخ انتشار مقاله"
                            loading="lazy"
                            width="11"
                            height="11"
                            decoding="async"
                            data-nimg="1"
                            src="{% static "img/calender.svg" %}"
                            style="color: transparent"
                          /><span>{{blog.day}} {{blog.month}} {{blog.year}}</span>
                        </li>
                      </div>
                    </ul>
                  </div>
                </article>
              </div>
              {% endfor %}
              </div>
              <div class="pagination_container">
                {% if latest.has_previous %}
                  <a href="?page={{ latest.previous_page_number }}" class="pagination_last">{{latest.previous_page_number}}</a> 
                {% endif %}
                <a class="pagination_current" href="#">{{latest.number}}</a>
                {% if latest.next_page_number == latest.paginator.num_pages %}
                  <span class="pagination_dots">...</span> 
                {% endif %}
                {% if latest.has_next %}
                  <a href="?page={{ latest.next_page_number }}" class="pagination_last">{{latest.next_page_number}} </a>
                {% endif %}
                {% if latest.next_page_number != latest.paginator.num_pages %}
                <span class="pagination_dots">...</span> 
                  <a class="pagination_last" href="?page={{ latest.paginator.num_pages }}">{{latest.paginator.num_pages}}</a>
                {% endif %}
            </div>
          </div>
          <div class="allArticles_leftData">
            <div class="sideItem_sideItem">
              <div class="sideItem_sideTitle">
                <span>محبوب‌ترین‌ها</span>
              </div>
              {% if best_rated %}
              <a
                class="sideItem_firstItem__GxelP"
                href="{% url "blog" best_rated.blogid %}"
                ><div class="sideItem_firstItemImg__JFAeB">
                  <img
                    alt="{{best_rated.title}}"
                    loading="lazy"
                    width="100"
                    height="100"
                    decoding="async"
                    data-nimg="1"
                    src="{{best_rated.blog_image.url}}"
                    style="color: transparent"
                  />
                </div>
                <h3>{{best_rated.title}}</h3></a
              >
              {% endif %}
              {% for best_rateds in best_rateds %}
              <a
                class="sideItem_insideItem__1CXAr"
                href="{% url "blog" best_rateds.blogid %}"
                ><div class="sideItem_sideItemImg__I3bBB">
                  <img
                    alt="{{best_rateds.title}}"
                    loading="lazy"
                    width="60"
                    height="60"
                    decoding="async"
                    data-nimg="1"
                    src="{{best_rateds.blog_image.url}}"
                    style="color: transparent"
                  />
                </div>
                <div class="sideItem_sideTexts">
                  <h3>
                    {{best_rateds.title}}
                  </h3>
                  <ul class="moreItem_moreData moreItem_onBanner__6fODc">
                    <div class="moreItem_moreDataContent__dF8j_">
                      <li class="moreItem_moreDataItem__pSgI3">
                        <img
                          alt="تاریخ انتشار مقاله"
                          loading="lazy"
                          width="11"
                          height="11"
                          decoding="async"
                          data-nimg="1"
                          src="{% static "img/calender.svg" %}"
                          style="color: transparent"
                        /><span>{{best_rateds.day}} {{best_rateds.month}} {{best_rateds.year}}</span>
                      </li>
                    </div>
                  </ul>
                </div></a
              >
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
