{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="bodymain-containerland ques-container">
      <ul class="aboutUs_breadCrumb ques">
        <li><a href="/">طلاسی: خرید و فروش طلا</a></li>
        <img
          alt="فلش چپ"
          loading="lazy"
          width="9"
          height="12"
          decoding="async"
          data-nimg="1"
          src="{% static "img/arrowLeft.svg" %}"
          style="color: transparent"
        />
        <li>
          <a href="/about-us">سوالات متداول</a>
        </li>
      </ul>
      <div class="main-collapse questionpage">
        <h2 class="page-title main_secondTitle5 babaya">سوالات متداول</h2>
        <ul class="main_itemsfl" id="accordion">
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#one">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>چرا باید طلای آب شده را از طلاسی خریداری کنیم؟</h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="one">
              <p>
                طلاسی به عنوان بهترین و معتبرترین سایت خرید و فروش طلای آب شده
                بدون اجرت، مزایای فراوانی مانند امنیت و تضمین اصالت طلا،
                نقدشوندگی بالا، تحویل فیزیکی آسان، فرایند سریع و ساده، و
                پشتیبانی 24 ساعته ارائه می‌دهد. همچنین، طلاسی ابزارهای پیش‌بینی
                قیمت با فناوری‌های نوین و نمودارهای قیمتی دقیق را برای کمک به
                شما در تصمیم‌گیری‌های سرمایه‌گذاری فراهم کرده است.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#two">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>چگونه می‌توانم از طلاسی طلای آب شده بخرم؟</h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="two">
              <p>
                برای خرید طلای آب شده از طلاسی، ابتدا در سایت ثبت‌نام کنید و سپس
                به صفحه خرید طلای آب شده بروید. می‌توانید میزان طلای مورد نظر
                خود را انتخاب کرده و پس از تأیید، فرآیند پرداخت را تکمیل کنید.
                طلاسی امکان ثبت سفارش با قیمت مشخص را نیز فراهم کرده است.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#three">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>
                  آیا می‌توانم طلای آب شده خود را به صورت فیزیکی دریافت کنم؟
                </h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="three">
              <p>
                بله، شما می‌توانید در هر زمانی که بخواهید، طلای خریداری شده خود
                را به صورت فیزیکی در قالب شمش ۱۸ یا ۲۴ عیارشناسنامه‌دار تحویل
                بگیرید. طلاسی اصالت و کیفیت طلای تحویل داده شده خود را تضمین
                می‌دهد.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#four">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>
                  چه تضمینی برای اصالت طلای خریداری شده از طلاسی وجود دارد؟
                </h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="four">
              <p>
                تمامی شمش‌های طلای خریداری شده از طلاسی دارای شناسنامه معتبر و
                پک‌هایی با ضریب امنیتی بالا می‌باشند. طلاسی با استفاده از
                آزمایشگاه‌های معتبر، اصالت و کیفیت طلا را تضمین می‌کند و شما
                می‌توانید با اطمینان کامل از خرید خود لذت ببرید.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#five">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>آیا می‌توانم طلای آب شده خود را در هر زمانی بفروشم؟</h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="five">
              <p>
                بله، شما می‌توانید در هر لحظه از شبانه‌روز، طلای آب شده خود را
                در طلاسی بفروشید. فرآیند فروش سریع و ساده است و شما می‌توانید به
                راحتی دارایی طلای خود را به وجه نقد تبدیل کنید.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#six">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>آیا خرید طلا از طلاسی شامل مالیات می‌شود؟</h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="six">
              <p>
                خیر، خرید طلا در طلاسی هیچ‌گونه مالیاتی ندارد و شما بدون پرداخت
                هزینه‌های اضافی مانند اجرت و مالیات، طلا خریداری می‌کنید.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#seven">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>
                  چگونه می‌توانم قیمت‌های لحظه‌ای طلا را در طلاسی مشاهده کنم؟
                </h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="seven">
              <p>
                شما می‌توانید با مراجعه به سایت طلاسی، نمودارهای لحظه‌ای قیمت
                طلا را مشاهده کنید. طلاسی نمودارهای دقیقی برای پیش‌بینی نوسانات
                قیمت لحظه‌ای طلا را فراهم کرده است.
              </p>
            </div>
            <div class="border"></div>
          </li>
          <li class="main_item10">
            <div class="main_topItem">
              <a class="mamamiya" data-bs-toggle="collapse" href="#eight">
                <div class="main_plusContainer">
                  <div></div>
                  <div class="main_second"></div>
                </div>
                <h2>آیا طلاسی خدمات پشتیبانی ارائه می‌دهد؟</h2>
              </a>
            </div>
            <div class="main_bottomItem collapse" id="eight">
              <p>
                بله، تیم پشتیبانی طلاسی در تمامی روزهای هفته به صورت 24 ساعته و
                به صورت آنی آماده پاسخگویی به سوالات و مشکلات شما است. شما
                می‌توانید از طریق تماس تلفنی و چت آنلاین با ما در ارتباط باشید.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
{% endblock content %}
