<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="media/css/bootstrap.css" />
    <link rel="stylesheet" href="media/css/home.css" />
    <title>قوانین | طلاسی</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav-bar">
        <div class="nav-right">
          <a href="home.html">
            <img src="media/img/logo.svg" alt="logo talasea" class="logo" />
          </a>
          <a href="#">
            <img
              src="media/img/logo-sm.svg"
              alt="logo talasea"
              class="logo-sm"
            />
          </a>
          <div class="nav-navitem">
            <a href="about-us.html" class="nav-item">
              <span>درباره طلاسی</span>
            </a>
            <a href="" class="nav-item">
              <span>قوانین و مقررات</span>
            </a>
            <a href="question.html" class="nav-item">
              <span>سوالات متداول</span>
            </a>
            <a href="" class="nav-item">
              <span>بلاگ طلاسی</span>
            </a>
          </div>
        </div>
        <div class="nav-left">
          <img
            src="media/img/Screenshot 2024-08-19 110423.png"
            alt=""
            class="darkmode"
          />
          <div class="nav-divider"></div>
          <a href="login.html" class="login">
            <button class="btn btn-nav">
              <img src="media/img/login.svg" alt="" class="img-login" />
              <span class="login-span">ورود</span>
            </button>
          </a>
          <a href="login.html">
            <button class="btn btn-nav btn-nav-reg">
              <img src="media/img/signUp.svg" alt="" class="img-login" />
              <span class="login-span">ثبت نام</span>
            </button>
          </a>
        </div>
      </div>
    </nav>
    <div class="bodymain-containerland aboutus-container rule">
      <section class="rules-container">
        <ul class="aboutUs_breadCrumb">
          <li><a href="/">طلاسی: خرید و فروش طلا</a></li>
          <img
            alt="فلش چپ"
            loading="lazy"
            width="9"
            height="12"
            decoding="async"
            data-nimg="1"
            src="media/img/arrowLeft.svg"
            style="color: transparent"
          />
          <li>
            <a href="/about-us">قوانین طلاسی</a>
          </li>
        </ul>
        <h1 class="rules_title">
          محاسبه کارمزد خرید و فروش طلا در طلاسی مطابق زیر می باشد.
        </h1>
        <table class="rules_table">
          <thead class="rules_subjects">
            <tr class="rules_subjectsContainer">
              <th class="rules_tableColumn rules_min">
                <span>محدوده معاملات انجام شده در 30 روز اخیر</span>
              </th>
              <th class="rules_tableColumn rules_fee">
                <span>کارمزد خرید</span>
              </th>
              <th class="rules_tableColumn rules_fee">
                <span>کارمزد فروش</span>
              </th>
            </tr>
          </thead>
          <tbody class="rules_tableBody">
            <tr class="rules_tableItem">
              <td class="rules_tableColumn rules_min">
                <span>0 - 100,000,000 تومن</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>2.00 درصد</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>2.00 درصد</span>
              </td>
            </tr>
            <tr class="rules_tableItem">
              <td class="rules_tableColumn rules_min">
                <span>بیشتر از 100,000,000 تومان</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>1.50 درصد</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>1.50 درصد</span>
              </td>
            </tr>
          </tbody>
        </table>
        <h2 class="rules_title">قوانین و مقررات طلاسی مطابق زیر میباشد.</h2>
        <ul class="rules-item">
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              فرآیند احراز هویت شامل دریافت اطلاعاتی از کاربر ازجمله شماره
              تماس، کد ملی و اطلاعات بانکی وی میباشد. این اقدامات حریم شخصی وی
              را نقض نخواهد کرد و هیچ گونه سو استفاده ای انجام نخواهد شد و به
              هیچ شخص ثالث و ارگانی ارائه نخواهد شد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              برای تکمیل فرآیند ثبت نام در طلاسی به اطلاعات کدملی،شماره کارت
              بانکی و تاریخ تولد به همراه شماره تماس است. این اطلاعات به دستور
              پلیس محترم فتا و برای جلوگیری پولشویی و شفافیت در معاملات دریافت
              می شود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              ثبت نام کاربر در سایت طلاسی به معنای مطالعه موافقت نامه، آگاهی
              کامل از مفاد آن و پذیرش بی قید و شرط قوانین و مقررات استفاده از
              خدمات آن خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              این حق برای طلاسی محفوظ است که در هر زمان که بخواهد، با اعلام
              مراتب قبلی به کاربر، مفاد قوانین و مقررات را تغییر دهد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              مسئولیت سود و زیان ناشی از معاملات آنلاین صرفا بر عهده ی تصمیمات
              خود کاربر می باشد، تمامی تراکنش های خرید و فروش با تایید کاربر
              بوده و غیر قابل بازگشت خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              در صورت وارد آمدن خسارت به طلاسی در اثر فعالیت های غیر قانونی
              کاربر، طلاسی میتواند طبق قانون نسبت به مطالبه ی آن اقدام کند. در
              این مورد طلاسی قادر است کلیه موضوعات مشکوک به سوء استفاده از سیستم
              را به مقامات قضائی اعلام دارد تا تحت پیگرد قانونی قرار گیرند.
              همچنین در صورت مشکوک بودن حساب کاربری، تمامی خدمات آن به صورت یک
              طرفه و بدون اطلاع کاربر متوقف خواهد شد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              بنابر قوانین سایت طلاسی و برگرفته از قوانین پلیس فتا جهت جلوگیری
              از پولشویی، این حق برای مجموعه محفوظ میباشد تا هر گونه واریز و
              برداشت مشکوک تا ٧٢ ساعت جهت بررسی بیشتر نگاه داشته شود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              مواردی که در این مجموعه قوانین و مقررات نمی باشد، تابع قوانین و
              مقررات جمهوری اسلامی ایران و یا تابع قواعد اعلامی از سوی ما خواهد
              بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              در صورت شارژ حساب کاربری به وسیله کارت احراز نشده، تا زمان احراز
              کارت، مبلغ واریزی در حساب کاربر بلوکه میشود. در صورت عدم احراز
              کارت، مبلغ واریزی نهایت تا 72 ساعت بعد به همان کارت مرجوع خواهد
              شد. لذا امکان خرید با وجه مذکور تا پیش از احراز کارت وجود ندارد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              فوت یا مفقودی صاحب حساب کاربری موجب بسته شدن حساب می شود و پس از
              طی مراحل قانونی دارایی مربوطه به وارث یا قیم وی مسترد میگردد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              مسئولیت حفاظت از محرمانگی اطلاعات ورود به حساب کاربری بر عهده
              کاربر بوده و عواقب و خسارات ناشی از هر گونه افشای اطلاعات مذکور
              متوجه طلاسی نخواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              کاربر طلاسی متعهد است که اطلاعات دقیق و صحیح را برای تکمیل فرآیند
              احراز هویت در طلاسی وارد کن، و هر کاربر مجاز به ایجاد تنها یک حساب
              کاربری خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              پس از تایید احراز هویت کاربر توسط طلاسی، امکان تغییر اطلاعات وجود
              ندارد؛ لذا دریافت وجه یا طلا فقط توسط مالک حساب کاربری و با
              اطلاعات ارائه شده در زمان احراز هویت امکان پذیر خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              حساب تنها باید توسط خود صاحب حساب کاربری مورد استفاده قرار گیرد،
              افتتاح حساب برای اشخاص ثالث ممنوع و غیر مجاز بوده و ضمن تلقی این
              کار به عنوان حساب های اجاره ایی، کاربر تحت پیگرد قانونی قرار خواهد
              گرفت.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              طلاسی می تواند بنا به صلاح دید خود، هر واریزی را با اعلام قبلی به
              واریز کننده عودت دهد. و برای اینکار هیچ توضیحی به کاربر داده
              نخواهد شد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              برای انجام برداشت های ریالی و ثبت درخواست تحویل فیزیکی طلا، باید
              ثبت نام شما تکمیل و احراز هویت شما توسط طلاسی تایید شده باشد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              تمام برداشت های ریالی بنا به بانک آن ها یا به صورت آنی و یا به
              صورت چرخه پایا تسویه خواهند شد، زمان تسویه برداشتهای ریالی آنی هر
              نیم ساعت یک بار میباشد و مبلغ برداشت شده نهایتا تا نیم ساعت به
              حساب مقصد واریز خواهد شد. (مدت زمان مذکور در شرایط ایده آل و عدم
              وجود اختلال در زیرساختهای پرداختیار خواهد بود.)
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              خرید و فروش طلا در طلاسی نیازمند پرداخت اجرت ساخت نخواهد بود، اما
              دریافت فیزیکی آن شامل این اجرت میشود. در این حالت، کاربر درخواست
              تحویل فیزیکی دارایی طلای خود را ثبت کرده و پس از انتخاب نوع طلای
              تحویلی از میان گزینه های موجود در تحویل طلا و پرداخت اجرت ساخت
              آن، طلای خود را تحویل خواهد گرفت.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              تمامی هدایای داده شده از سوی طلاسی، تحت عنوان پاداش ثبت نام،
              معامله در طلاسی و... ، تا یک ماه توسط کاربر قابل بهره برداری بوده
              و بعد از آن به صورت خودکار توسط سیستم از حساب کاربر حذف خواهد شد.
            </p>
          </li>
        </ul>
      </section>
    </div>
    <footer class="bodymain-containerland">
      <div class="footer-top">
        <div class="footer-top-right">
          <a href="/"
            ><img
              alt="لوگو طلاسی"
              loading="lazy"
              width="226"
              height="38"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="media/img/logo.svg"
          /></a>
          <span
            >طلاسی، پلتفرم خرید و فروش آنلاین طلا خام و بدون اجرت، آسان‌ترین و
            امن‌ترین راه را برای حفظ ارزش سرمایه شما ارائه می‌کند.</span
          >
        </div>
        <div class="footer-top-center">
          <div class="footer_topFooterCenter">
            <div class="footer_topFooterCenterContent">
              <h3>آموزش ها</h3>
              <a href="/about-us">درباره طلاسی</a>
              <a href="/faq">سوالات متداول</a>
              <a href="/rules">قوانین و مقررات</a>
              <a href="/edu">آموزش‌ها</a>
            </div>
          </div>
          <div class="footer_topFooterCenter">
            <div class="footer_topFooterCenterContent">
              <h3>امکانات</h3>
              <a href="/mag">بلاگ طلاسی</a>
              <a href="/application">اپلیکیشن خرید طلا</a>
              <a href="/calculator">محاسبه قیمت طلا</a>
              <a href="/gold-price">قیمت لحظه ای طلا</a>
              <a href="/coin-price">قیمت لحظه ای سکه</a>
            </div>
          </div>
        </div>
        <div class="footer-top-left">
          <div class="footer_topFooterLeftContent">
            <span>ما را در شبکه‌های‌ اجتماعی دنبال کنید</span>
            <div class="footer_media">
              <a
                class="footer_footerMediaImg"
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="https://www.instagram.com/talasea_ir/"
                ><img
                  alt="instagram talasea"
                  loading="lazy"
                  width="26"
                  height="26"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/media/img/instagram.svg"
              /></a>
              <a
                class="footer_footerMediaImg"
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="https://twitter.com/talasea_ir"
                ><img
                  alt="twitter talasea"
                  loading="lazy"
                  width="26"
                  height="21"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/media/img/twitter.svg"
              /></a>
              <a
                class="footer_footerMediaImg"
                target="_blank"
                rel="nofollow noopener noreferrer"
                href="https://t.me/talasea_ir"
                ><img
                  alt="telegram talasea"
                  loading="lazy"
                  width="26"
                  height="26"
                  decoding="async"
                  data-nimg="1"
                  style="color: transparent"
                  src="/media/img/telegram.svg"
              /></a>
            </div>
            <div class="footer_namads">
              <a
                target="_blank"
                class="footer_namad"
                rel="nofollow noopener noreferrer"
                href="https://tehran.irannsr.org/fa/trade_unit/2496578/swd_id/104366/%D8%A7%D8%B9%D8%B6%D8%A7%DB%8C-%D8%AD%D9%82%D9%88%D9%82%DB%8C-%D8%AA%D9%88%D8%B3%D8%B9%D9%87-%D8%B1%D8%A7%D9%87%DA%A9%D8%A7%D8%B1%D8%A7%D9%84%D9%88%D9%86%D8%AF-%D8%A7%D8%B1%D8%B3%D8%A8%D8%A7%D8%B1%D8%A7%D9%86.html"
              >
                <div class="footer_img">
                  <img
                    alt="نماد نظام صنفی یارانه ای"
                    loading="lazy"
                    width="77"
                    height="65"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    e?url="%2Fimages%2Fshared%2FnezamSenfi.png&"
                    src="/media/img/nezamSenfi.webp"
                  />
                </div>
              </a>
              <a
                target="_blank"
                class="footer_namad"
                rel="nofollow noopener noreferrer"
                href="https://trustseal.enamad.ir/?id=385712&amp;code=HpjvSFHIjlK6be1cSfinM4BHOsecBdBf"
              >
                <div class="footer_img__FvGo5">
                  <img
                    alt="نماد اعتبار (اینماد)"
                    loading="lazy"
                    width="60"
                    height="65"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    src="/media/img/enamad.webp"
                  />
                </div>
              </a>
              <div class="footer_namad">
                <div class="footer_img">
                  <img
                    alt="نماد اتحادیه صنف طلافروشان"
                    loading="lazy"
                    width="65"
                    height="65"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    src="media/img/estjt.webp"
                  />
                </div>
              </div>
              <div class="footer_namad">
                <div class="footer_img">
                  <img
                    alt="نماد اتحادیه صنف طلافروشان"
                    loading="lazy"
                    width="57"
                    height="65"
                    decoding="async"
                    data-nimg="1"
                    style="color: transparent"
                    src="media/img/ecunion.webp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-app">
        <div class="footer_rightApp">
          <h3>دانلود اپلیکیشن طلاسی</h3>
        </div>
        <div class="footer_leftApp">
          <a
            title="دریافت اپلیکیشن از بازار"
            class="footer_myket__0bn6x"
            href="/application"
          >
            <img
              alt="دریافت اپلیکیشن طلاسی از بازار"
              loading="lazy"
              width="142"
              height="44"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="media/img/coffe-bazzar.svg"
            />
          </a>
          <a
            title="دریافت اپلیکیشن از مایکت"
            class="footer_myket__0bn6x"
            href="/application"
            ><img
              alt="دریافت اپلیکیشن طلاسی از مایکت"
              loading="lazy"
              width="142"
              height="44"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="media/img/myket.svg"
          /></a>
          <a
            title="دریافت نسخه pwa"
            class="footer_pwa__t8OG5"
            href="/application"
            ><img
              alt="دریافت نسخه pwa"
              loading="lazy"
              width="142"
              height="44"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="media/img/pwa.svg"
            />
          </a>
          <a class="footer_more__zc61d" href="/application"
            ><svg
              width="9"
              height="12"
              viewBox="0 0 9 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.5 1.5L3 6L7.5 10.5"
                stroke="#000"
                stroke-width="3"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="footer_bottomFooter">
        <div class="footer_bottomFooterItem">
          <div class="footer_icon">
            <img
              alt="آدرس طلاسی"
              loading="lazy"
              width="24"
              height="24"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="media/img/Location.svg"
            />
          </div>
          <span>آدرس: تهران, میدان هروی, بازار طلای هروی سنتر, پلاک B44</span>
        </div>
        <a href="tel:02191690818" class="footer_bottomFooterItem">
          <div class="footer_icon">
            <img
              alt="شماره تلفن طلاسی"
              loading="lazy"
              width="24"
              height="24"
              decoding="async"
              data-nimg="1"
              src="media/img/Calling.svg"
              style="color: transparent"
            />
          </div>
          <span
            >تلفن تماس: <span class="footer_telephone">02191690818</span> (24
            ساعته و در 7 روز هفته)</span
          >
        </a>
        <div class="footer_bottomFooterItem">
          <div class="footer_icon">
            <img
              alt="پشتیبانی طلاسی"
              loading="lazy"
              width="24"
              height="24"
              decoding="async"
              data-nimg="1"
              style="color: transparent"
              src="media/img/chat.webp"
            />
          </div>
          <span
            >پشتیبانی چت آنلاین:24 ساعته و در 7 روز هفته پاسخگوی شما
            هستیم.</span
          >
        </div>
      </div>
      <div class="footer_landLinks">
        <h2>لینک های مفید</h2>
        <ul>
          <li>
            <a href="/geram18">طلای ۱۸ عیار</a>
          </li>
          <span>|</span>
          <li>
            <a href="/geram21">طلای ۲۱ عیار</a>
          </li>
          <span>|</span>
          <li>
            <a href="/geram24">طلای ۲۴ عیار</a>
          </li>
          <span>|</span>
          <li>
            <a href="/gold-mini-size">طلای دست دوم</a>
          </li>
          <span>|</span>
          <li>
            <a href="/mesghal">مثقال طلا</a>
          </li>
          <span>|</span>
          <li>
            <a href="/gold-futures">قیمت طلا آب شده</a>
          </li>
          <span>|</span>
          <li>
            <a href="/ons">انس طلا جهانی</a>
          </li>
          <span>|</span>
          <li>
            <a href="/seke-emami">سکه امامی</a>
          </li>
          <span>|</span>
          <li>
            <a href="/seke-bahar">سکه بهار آزادی</a>
          </li>
          <span>|</span>
          <li>
            <a href="/nim-seke">نیم سکه</a>
          </li>
          <span>|</span>
          <li>
            <a href="/rob-seke">ربع سکه</a>
          </li>
          <span>|</span>
          <li>
            <a href="/seke-gerami">سکه گرمی</a>
          </li>
          <span>|</span>
          <li>
            <a href="/parsian">سکه پارسیان</a>
          </li>
          <span>|</span>
          <li>
            <a href="/mini-size-calc">محاسبه قیمت طلا دست دوم</a>
          </li>
        </ul>
      </div>
      <div class="footer_copyRight">
        <span
          >Copyright © 2024 Talasea | شرکت توسعه راهکار الوند ارسباران |
          version:1.9.7</span
        >
      </div>
    </footer>
    <div class="widget-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
        <path
          d="M60.19,53.75a3,3,0,1,0,3.06,3A3,3,0,0,0,60.19,53.75Zm-11.37,0a3,3,0,1,0,3.06,3A3,3,0,0,0,48.81,53.75Zm45.94,4A35,35,0,1,0,52.75,92v12.76s14.55-4.25,30.53-19.28C94.68,74.74,94.75,59.41,94.75,59.41l0,0C94.74,58.87,94.75,58.3,94.75,57.72Zm-10.14.6s0,10.64-8,18.09A57.93,57.93,0,0,1,53,89.8V80.34A24.29,24.29,0,1,1,84.61,57.16c0,.4,0,.8,0,1.19ZM70.69,53.75a3,3,0,1,0,3.06,3A3,3,0,0,0,70.69,53.75Z"
          transform="translate(0.25 0.25)"
          style="fill: #ffffff"
        ></path>
      </svg>
    </div>
    <div class="bell-container">
      <img src="media/img/bell.svg" alt="" class="bell" />
    </div>
    <script src="media/js/bootstrap.js"></script>
  </body>
</html>
