{% extends "base.html" %}
{% block content %}
{% load static %}
    <div class="bodymain-containerland aboutus-container rule">
      <section class="rules-container">
        <ul class="aboutUs_breadCrumb">
          <li><a href="/">طلاسی: خرید و فروش طلا</a></li>
          <img
            alt="فلش چپ"
            loading="lazy"
            width="9"
            height="12"
            decoding="async"
            data-nimg="1"
            src="{% static "img/arrowLeft.svg" %}"
            style="color: transparent"
          />
          <li>
            <a href="/about-us">قوانین طلاسی</a>
          </li>
        </ul>
        <h1 class="rules_title">
          محاسبه کارمزد خرید و فروش طلا در طلاسی مطابق زیر می باشد.
        </h1>
        <table class="rules_table">
          <thead class="rules_subjects">
            <tr class="rules_subjectsContainer">
              <th class="rules_tableColumn rules_min">
                <span>محدوده معاملات انجام شده در 30 روز اخیر</span>
              </th>
              <th class="rules_tableColumn rules_fee">
                <span>کارمزد خرید</span>
              </th>
              <th class="rules_tableColumn rules_fee">
                <span>کارمزد فروش</span>
              </th>
            </tr>
          </thead>
          <tbody class="rules_tableBody">
            <tr class="rules_tableItem">
              <td class="rules_tableColumn rules_min">
                <span>0 - 100,000,000 تومن</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>2.00 درصد</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>2.00 درصد</span>
              </td>
            </tr>
            <tr class="rules_tableItem">
              <td class="rules_tableColumn rules_min">
                <span>بیشتر از 100,000,000 تومان</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>1.50 درصد</span>
              </td>
              <td class="rules_tableColumn rules_fee">
                <span>1.50 درصد</span>
              </td>
            </tr>
          </tbody>
        </table>
        <h2 class="rules_title">قوانین و مقررات طلاسی مطابق زیر میباشد.</h2>
        <ul class="rules-item">
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              فرآیند احراز هویت شامل دریافت اطلاعاتی از کاربر ازجمله شماره
              تماس، کد ملی و اطلاعات بانکی وی میباشد. این اقدامات حریم شخصی وی
              را نقض نخواهد کرد و هیچ گونه سو استفاده ای انجام نخواهد شد و به
              هیچ شخص ثالث و ارگانی ارائه نخواهد شد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              برای تکمیل فرآیند ثبت نام در طلاسی به اطلاعات کدملی،شماره کارت
              بانکی و تاریخ تولد به همراه شماره تماس است. این اطلاعات به دستور
              پلیس محترم فتا و برای جلوگیری پولشویی و شفافیت در معاملات دریافت
              می شود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              ثبت نام کاربر در سایت طلاسی به معنای مطالعه موافقت نامه، آگاهی
              کامل از مفاد آن و پذیرش بی قید و شرط قوانین و مقررات استفاده از
              خدمات آن خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              این حق برای طلاسی محفوظ است که در هر زمان که بخواهد، با اعلام
              مراتب قبلی به کاربر، مفاد قوانین و مقررات را تغییر دهد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              مسئولیت سود و زیان ناشی از معاملات آنلاین صرفا بر عهده ی تصمیمات
              خود کاربر می باشد، تمامی تراکنش های خرید و فروش با تایید کاربر
              بوده و غیر قابل بازگشت خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              در صورت وارد آمدن خسارت به طلاسی در اثر فعالیت های غیر قانونی
              کاربر، طلاسی میتواند طبق قانون نسبت به مطالبه ی آن اقدام کند. در
              این مورد طلاسی قادر است کلیه موضوعات مشکوک به سوء استفاده از سیستم
              را به مقامات قضائی اعلام دارد تا تحت پیگرد قانونی قرار گیرند.
              همچنین در صورت مشکوک بودن حساب کاربری، تمامی خدمات آن به صورت یک
              طرفه و بدون اطلاع کاربر متوقف خواهد شد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              بنابر قوانین سایت طلاسی و برگرفته از قوانین پلیس فتا جهت جلوگیری
              از پولشویی، این حق برای مجموعه محفوظ میباشد تا هر گونه واریز و
              برداشت مشکوک تا ٧٢ ساعت جهت بررسی بیشتر نگاه داشته شود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              مواردی که در این مجموعه قوانین و مقررات نمی باشد، تابع قوانین و
              مقررات جمهوری اسلامی ایران و یا تابع قواعد اعلامی از سوی ما خواهد
              بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              در صورت شارژ حساب کاربری به وسیله کارت احراز نشده، تا زمان احراز
              کارت، مبلغ واریزی در حساب کاربر بلوکه میشود. در صورت عدم احراز
              کارت، مبلغ واریزی نهایت تا 72 ساعت بعد به همان کارت مرجوع خواهد
              شد. لذا امکان خرید با وجه مذکور تا پیش از احراز کارت وجود ندارد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              فوت یا مفقودی صاحب حساب کاربری موجب بسته شدن حساب می شود و پس از
              طی مراحل قانونی دارایی مربوطه به وارث یا قیم وی مسترد میگردد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              مسئولیت حفاظت از محرمانگی اطلاعات ورود به حساب کاربری بر عهده
              کاربر بوده و عواقب و خسارات ناشی از هر گونه افشای اطلاعات مذکور
              متوجه طلاسی نخواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              کاربر طلاسی متعهد است که اطلاعات دقیق و صحیح را برای تکمیل فرآیند
              احراز هویت در طلاسی وارد کن، و هر کاربر مجاز به ایجاد تنها یک حساب
              کاربری خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              پس از تایید احراز هویت کاربر توسط طلاسی، امکان تغییر اطلاعات وجود
              ندارد؛ لذا دریافت وجه یا طلا فقط توسط مالک حساب کاربری و با
              اطلاعات ارائه شده در زمان احراز هویت امکان پذیر خواهد بود.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              حساب تنها باید توسط خود صاحب حساب کاربری مورد استفاده قرار گیرد،
              افتتاح حساب برای اشخاص ثالث ممنوع و غیر مجاز بوده و ضمن تلقی این
              کار به عنوان حساب های اجاره ایی، کاربر تحت پیگرد قانونی قرار خواهد
              گرفت.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              طلاسی می تواند بنا به صلاح دید خود، هر واریزی را با اعلام قبلی به
              واریز کننده عودت دهد. و برای اینکار هیچ توضیحی به کاربر داده
              نخواهد شد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              برای انجام برداشت های ریالی و ثبت درخواست تحویل فیزیکی طلا، باید
              ثبت نام شما تکمیل و احراز هویت شما توسط طلاسی تایید شده باشد.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              تمام برداشت های ریالی بنا به بانک آن ها یا به صورت آنی و یا به
              صورت چرخه پایا تسویه خواهند شد، زمان تسویه برداشتهای ریالی آنی هر
              نیم ساعت یک بار میباشد و مبلغ برداشت شده نهایتا تا نیم ساعت به
              حساب مقصد واریز خواهد شد. (مدت زمان مذکور در شرایط ایده آل و عدم
              وجود اختلال در زیرساختهای پرداختیار خواهد بود.)
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              خرید و فروش طلا در طلاسی نیازمند پرداخت اجرت ساخت نخواهد بود، اما
              دریافت فیزیکی آن شامل این اجرت میشود. در این حالت، کاربر درخواست
              تحویل فیزیکی دارایی طلای خود را ثبت کرده و پس از انتخاب نوع طلای
              تحویلی از میان گزینه های موجود در تحویل طلا و پرداخت اجرت ساخت
              آن، طلای خود را تحویل خواهد گرفت.
            </p>
          </li>
          <li>
            <svg
              width="16"
              height="26"
              viewBox="0 0 16 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 1.5L3 13L14.5 24.5"
                stroke="#B39726"
                stroke-width="3"
              ></path>
            </svg>
            <p>
              تمامی هدایای داده شده از سوی طلاسی، تحت عنوان پاداش ثبت نام،
              معامله در طلاسی و... ، تا یک ماه توسط کاربر قابل بهره برداری بوده
              و بعد از آن به صورت خودکار توسط سیستم از حساب کاربر حذف خواهد شد.
            </p>
          </li>
        </ul>
      </section>
    </div>
{% endblock content %}